
@font-face {
    font-family: 'NanumSquareNeo';
    src: url(../fonts/NanumSquareNeoTTF-bRg.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquareNeo';
    src: url(../fonts/NanumSquareNeoTTF-cBd.woff2);
    font-weight: 700;
    font-display: swap;
}