/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-11-12
* 설  명 : header/footer 스타일을 선언함
*********************/

header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_l {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
header .header_l .logo a {
    display: block;
    width: 80px;
    height: 51px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .header_l .gnb .gnb_open {
    height: var(--header-h);
    width: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    
}
header .header_l .gnb .gnb_open .menu {
    display: block;
    width: 48px;
    height: 33.47px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}

header .util .lang .lang_open {
    display: flex;
    width: 66px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 17.5C7.55417 17.5 6.42396 17.2703 5.35938 16.8109C4.29479 16.3516 3.3651 15.7245 2.57031 14.9297C1.77552 14.1349 1.14844 13.2052 0.689063 12.1406C0.229687 11.076 0 9.94583 0 8.75C0 7.53958 0.229687 6.40573 0.689063 5.34844C1.14844 4.29115 1.77552 3.3651 2.57031 2.57031C3.3651 1.77552 4.29479 1.14844 5.35938 0.689063C6.42396 0.229687 7.55417 0 8.75 0C9.96042 0 11.0943 0.229687 12.1516 0.689063C13.2089 1.14844 14.1349 1.77552 14.9297 2.57031C15.7245 3.3651 16.3516 4.29115 16.8109 5.34844C17.2703 6.40573 17.5 7.53958 17.5 8.75C17.5 9.94583 17.2703 11.076 16.8109 12.1406C16.3516 13.2052 15.7245 14.1349 14.9297 14.9297C14.1349 15.7245 13.2089 16.3516 12.1516 16.8109C11.0943 17.2703 9.96042 17.5 8.75 17.5ZM8.75 15.7063C9.12917 15.1813 9.45729 14.6344 9.73438 14.0656C10.0115 13.4969 10.2375 12.8917 10.4125 12.25H7.0875C7.2625 12.8917 7.48854 13.4969 7.76562 14.0656C8.04271 14.6344 8.37083 15.1813 8.75 15.7063ZM6.475 15.3563C6.2125 14.875 5.98281 14.3755 5.78594 13.8578C5.58906 13.3401 5.425 12.8042 5.29375 12.25H2.7125C3.13542 12.9792 3.66406 13.6135 4.29844 14.1531C4.93281 14.6927 5.65833 15.0938 6.475 15.3563ZM11.025 15.3563C11.8417 15.0938 12.5672 14.6927 13.2016 14.1531C13.8359 13.6135 14.3646 12.9792 14.7875 12.25H12.2063C12.075 12.8042 11.9109 13.3401 11.7141 13.8578C11.5172 14.3755 11.2875 14.875 11.025 15.3563ZM1.96875 10.5H4.94375C4.9 10.2083 4.86719 9.92031 4.84531 9.63594C4.82344 9.35156 4.8125 9.05625 4.8125 8.75C4.8125 8.44375 4.82344 8.14844 4.84531 7.86406C4.86719 7.57969 4.9 7.29167 4.94375 7H1.96875C1.89583 7.29167 1.84115 7.57969 1.80469 7.86406C1.76823 8.14844 1.75 8.44375 1.75 8.75C1.75 9.05625 1.76823 9.35156 1.80469 9.63594C1.84115 9.92031 1.89583 10.2083 1.96875 10.5ZM6.69375 10.5H10.8063C10.85 10.2083 10.8828 9.92031 10.9047 9.63594C10.9266 9.35156 10.9375 9.05625 10.9375 8.75C10.9375 8.44375 10.9266 8.14844 10.9047 7.86406C10.8828 7.57969 10.85 7.29167 10.8063 7H6.69375C6.65 7.29167 6.61719 7.57969 6.59531 7.86406C6.57344 8.14844 6.5625 8.44375 6.5625 8.75C6.5625 9.05625 6.57344 9.35156 6.59531 9.63594C6.61719 9.92031 6.65 10.2083 6.69375 10.5ZM12.5563 10.5H15.5312C15.6042 10.2083 15.6589 9.92031 15.6953 9.63594C15.7318 9.35156 15.75 9.05625 15.75 8.75C15.75 8.44375 15.7318 8.14844 15.6953 7.86406C15.6589 7.57969 15.6042 7.29167 15.5312 7H12.5563C12.6 7.29167 12.6328 7.57969 12.6547 7.86406C12.6766 8.14844 12.6875 8.44375 12.6875 8.75C12.6875 9.05625 12.6766 9.35156 12.6547 9.63594C12.6328 9.92031 12.6 10.2083 12.5563 10.5ZM12.2063 5.25H14.7875C14.3646 4.52083 13.8359 3.88646 13.2016 3.34687C12.5672 2.80729 11.8417 2.40625 11.025 2.14375C11.2875 2.625 11.5172 3.12448 11.7141 3.64219C11.9109 4.1599 12.075 4.69583 12.2063 5.25ZM7.0875 5.25H10.4125C10.2375 4.60833 10.0115 4.00313 9.73438 3.43438C9.45729 2.86562 9.12917 2.31875 8.75 1.79375C8.37083 2.31875 8.04271 2.86562 7.76562 3.43438C7.48854 4.00313 7.2625 4.60833 7.0875 5.25ZM2.7125 5.25H5.29375C5.425 4.69583 5.58906 4.1599 5.78594 3.64219C5.98281 3.12448 6.2125 2.625 6.475 2.14375C5.65833 2.40625 4.93281 2.80729 4.29844 3.34687C3.66406 3.88646 3.13542 4.52083 2.7125 5.25Z' /%3E%3C/svg%3E%0A");
}


header .header_l .gnb_wrap ul {
    display: none;
}