/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-11-12
* 설  명 : header/footer 스타일을 선언함
*********************/
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo {
    position: absolute;
    left: var(--header-h);
    top: 23px;
}
header .logo a {
    display: block;
    width: 80px;
    height: 51px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .gnb .gnb_open {
    height: var(--header-h);
    width: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    
}
header .gnb .gnb_open .menu_open {
    display: block;
    width: 48px;
    height: 33.47px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}
header .gnb .gnb_wrap .gnb_close {
    display: none;
}
header .util .lang .lang_open {
    position: absolute;
    right: 30px;
    top: 17px;
    display: flex;
    width: 66px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
}


header.fixed {
    color: var(--color-title);
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open i {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴때 header 올림 */
header.up {
    transform: translateY(-110%);
    transition: transform 0.3s;
}

header  .gnb_wrap {
    display: none;
}
@media screen and (max-width:1336px) {
    header.menu_pc .gnb .gnb_wrap .gnb_util {
        display: none;
    }
}
@media screen and (min-width:1025px){ /* 1025보다 클때 - pc버전  */
    /********* menu_pc가 추가되었을때 (메뉴가 나타남) ************/
    header.menu_pc {
        color: #333;
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: #fff;
        transition: height 0.5s;
    }
    header.menu_pc::before {
        height: 400px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
    }
    header.menu_pc .logo {
        left: 30px;
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .gnb_open {
        display: none;
    }
    header.menu_pc .gnb .gnb_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header.menu_pc .gnb_util {
        position: absolute;
        right: 0;
        top: 0;
    }
    header.menu_pc .gnb_util .gnb_lang {
        position: absolute;
        right: 88px;
        top: 24px;
        vertical-align: top;
    }
    header.menu_pc .gnb_util .gnb_lang .gnb_lang_open {
        width: 54px;
        height: 54px;
    }
    header.menu_pc .gnb_util .gnb_lang .gnb_lang_open i {
        position: absolute;
        right: 11px;
        top: 11px;
        display: block;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
    }
    header.menu_pc .gnb .gnb_wrap .gnb_close {
        display: flex;
        position: absolute;
        right: 30px;
        top: 24px;
        width: 54px;
        height: 54px;
        justify-content: center;
        align-items: center;
    }
    header.menu_pc .gnb_close i {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 18.6575L3.20605 31.4521C2.85676 31.801 2.41773 31.9796 1.88895 31.988C1.3606 31.996 0.913583 31.8174 0.547898 31.4521C0.182633 31.0864 0 30.6434 0 30.123C0 29.6027 0.182633 29.1596 0.547898 28.7939L13.3425 16L0.547898 3.20605C0.199025 2.85676 0.0203861 2.41773 0.0119795 1.88896C0.00399327 1.3606 0.182633 0.913583 0.547898 0.547898C0.913583 0.182633 1.35661 0 1.87698 0C2.39734 0 2.84037 0.182633 3.20605 0.547898L16 13.3425L28.7939 0.547898C29.1432 0.199025 29.5823 0.0203861 30.111 0.0119795C30.6394 0.00399327 31.0864 0.182633 31.4521 0.547898C31.8174 0.913583 32 1.35661 32 1.87698C32 2.39734 31.8174 2.84037 31.4521 3.20605L18.6575 16L31.4521 28.7939C31.801 29.1432 31.9796 29.5823 31.988 30.111C31.996 30.6394 31.8174 31.0864 31.4521 31.4521C31.0864 31.8174 30.6434 32 30.123 32C29.6027 32 29.1596 31.8174 28.7939 31.4521L16 18.6575Z'/%3E%3C/svg%3E%0A");     
    }
    header.menu_pc .util .lang {
        display: none;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li:hover > a {
        border-bottom: 3px solid green;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 39px;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block;
        text-align: center;
        height: 260px;
        padding-top: 20px;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
        padding: 5px 0;
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        z-index: -2;
        width: 100vw;
        height: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: height 0s, opacity 0.5s;
    }
    header.menu_pc .gnb .gnb_bg {
        height: 100vh;
        opacity: 1;
    }
}
@media screen and (max-width:1024px){ /* 1024보다 작을 때 - mobile 버전  */
    header .gnb_wrap{
        position: fixed;
        top: 0;
        left: -71%; /* 처음에는 왼쪽으로 숨김 */
        width: 70%;
        height: 100vh;
        color: #333;
        background: #fff;
        transition: left 0.3s ease;
        z-index: 9999;
        overflow-y: auto;

    }
    /* 모바일 메뉴가 열렸을 때 */
    header.menu_mo .gnb_wrap{
        display: block;
        left: 0;
    }
    header.menu_mo .gnb_wrap .gnb_logo {
        position: absolute;
        left: var(--wrapper-margin);
        top: 19px;
        background: url(../images/common/logo.svg) no-repeat center center / contain;
        width: 66px;
        height: 42.07px;
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        padding-top: 27px;
        border-top: 1px solid #EDEDED;
    }

    /* depth1 기본 스타일 */
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 15px 0 15px var(--wrapper-margin);
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1.3;
        position: relative;
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li.active > a {
        color: var(--color-main);
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 23px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.000484943 7.64331L7.6438 3.34101e-07L15.2871 7.64331L13.9304 9L7.6438 2.71338L1.35717 9L0.000484943 7.64331Z'/%3E%3C/svg%3E%0A");
        width: 15.29px;
        height: 9px;
        transition: 0.3s;
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li.active > a::after {
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%2339AF34' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.000484943 7.64331L7.6438 3.34101e-07L15.2871 7.64331L13.9304 9L7.6438 2.71338L1.35717 9L0.000484943 7.64331Z'/%3E%3C/svg%3E%0A");
    }

    /* 아코디언: depth2 숨기기 */
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    /* 아코디언 열린 상태 */
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li.active > ul.depth2{
        max-height: 500px; /* 충분히 큰 값 */
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a { 
        display: block;
        padding: 3px 0 3px calc(var(--wrapper-margin) * 2 );
    }
    header.menu_mo .gnb .gnb_wrap .gnb_util {
        position: absolute;
        right: 0;
        top: 0;
    }
    header.menu_mo .gnb .gnb_wrap .gnb_util .gnb_lang {
        position: relative;
    }
    header.menu_mo .gnb .gnb_wrap .gnb_util .gnb_lang .gnb_lang_open {
        position: absolute;
        right: var(--header-h);
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header.menu_mo .gnb .gnb_wrap .gnb_util .gnb_lang .gnb_lang_open .gnb_icon_lang {
        width: 24px;
        height: 24px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
    }
    header.menu_mo .gnb .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header.menu_mo .gnb .gnb_close i {
        width: 24px;
        height: 24px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z'/%3E%3C/svg%3E%0A");
    }
    
    /* 모바일 메뉴 배경 (어둡게) */
    header .gnb_bg{
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100vh;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }
    header.menu_mo .gnb_bg{
        opacity: 1;
    }
}
@media screen and (max-width:769px){
    /* 모바일 메뉴가 열렸을 때 */
    header.menu_mo .gnb_wrap .gnb_logo {
        top: 13px;
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 1.9rem;
    }
    header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a::after {
        right: 16px;
        top: 20px;
        width: 15.29px;
        height: 9px;
    }
}


footer {
    padding: 85px 0 196px 0;
    background-color: #333;
    color: #fff;
    overflow-x: hidden; /* f_roll 가로 스크롤바 삭제 */
    position: relative;
}
footer .wrapper {
    display: flex;
    gap: 0 78px;
    position: relative;
}
footer .wrapper .top {
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
    height: 43px;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
}
footer .wrapper .top::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 21px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.55 4.0222L19.5248 11.997L21 10.5L10.5 4.5897e-07L4.5897e-07 10.5L1.47525 11.997L9.45 4.0222L9.45 21L11.55 21L11.55 4.0222Z'/%3E%3C/svg%3E%0A");
}
footer .f_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
footer .f_info .f_inner .copyright {
    opacity: 0.6;
}
footer .f_info .f_inner .copyright a {
    display: inline-block;
    font-weight: 700;
}
footer .f_info .f_sns ul {
    display: flex;
    gap: 0 8px;
}
footer .f_info .f_sns ul li a {
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}
footer .f_info .f_sns ul li a::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;

}
footer .f_info .f_sns ul li.instar a::before {
    width: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24_398)'%3E%3Cpath d='M12.2325 2.85645C11.7161 2.85645 11.2939 3.27856 11.2939 3.79498C11.2939 4.3114 11.7161 4.73352 12.2325 4.73352C12.7489 4.73352 13.171 4.3114 13.171 3.79498C13.171 3.27856 12.7489 2.85645 12.2325 2.85645Z' fill='white'/%3E%3Cpath d='M8.06521 4.05957C5.89176 4.05957 4.12695 5.82887 4.12695 7.99782C4.12695 10.1668 5.89625 11.9361 8.06521 11.9361C10.2342 11.9361 12.0035 10.1668 12.0035 7.99782C12.0035 5.82887 10.2342 4.05957 8.06521 4.05957ZM8.06521 10.5215C6.67312 10.5215 5.54149 9.38991 5.54149 7.99782C5.54149 6.60574 6.67312 5.47411 8.06521 5.47411C9.45729 5.47411 10.5889 6.60574 10.5889 7.99782C10.5889 9.38991 9.45729 10.5215 8.06521 10.5215Z' fill='white'/%3E%3Cpath d='M11.1906 16H4.80494C2.15549 16 0 13.8445 0 11.1951V4.80943C0 2.15549 2.15549 0 4.80494 0H11.1906C13.84 0 15.9955 2.15549 15.9955 4.80494V11.1906C15.9955 13.84 13.84 15.9955 11.1906 15.9955V16ZM4.80494 1.50435C2.98625 1.50435 1.50435 2.98625 1.50435 4.80494V11.1906C1.50435 13.0093 2.98625 14.4912 4.80494 14.4912H11.1906C13.0093 14.4912 14.4912 13.0093 14.4912 11.1906V4.80494C14.4912 2.98625 13.0093 1.50435 11.1906 1.50435H4.80494Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24_398'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_info .f_sns ul li.facebook a::before {
    left: 9px;
    width: 9px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24_402)'%3E%3Cpath d='M8.41038 9.56161L8.87736 6.48414H5.95755V4.48976C5.95755 3.65001 6.36321 2.82936 7.66981 2.82936H8.99528V0.209935C8.99528 0.209935 7.79245 0 6.64151 0C4.24057 0 2.66981 1.47432 2.66981 4.14145V6.48414H0V9.56161H2.66981V17H5.95755V9.56161H8.41038Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24_402'%3E%3Crect width='9' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_info .f_sns ul li.youtube a::before {
    width: 17px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24_362)'%3E%3Cpath d='M13.2713 0H3.72873C1.67182 0 0 1.68587 0 3.76006V8.2352C0 10.3141 1.67182 11.9953 3.72873 11.9953H13.2666C15.3282 11.9953 16.9953 10.3094 16.9953 8.2352V3.76006C16.9953 1.68114 15.3235 0 13.2666 0H13.2713ZM11.3881 6.33623L7.10994 8.47198C6.94088 8.56196 6.37265 8.43883 6.37265 8.24941V3.86898C6.37265 3.67482 6.94558 3.5517 7.11464 3.64641L11.2097 5.89108C11.3834 5.99053 11.5619 6.24152 11.3881 6.33623Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24_362'%3E%3Crect width='17' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_info .f_sns ul li.blog a::before {
    left: 10px;
    top: 1px;
    width: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H2.44873V4.51562H2.53174C2.53727 4.48796 2.54557 4.46305 2.55664 4.44092C2.56771 4.41878 2.58154 4.39665 2.59814 4.37451C2.73649 4.09782 2.91081 3.85156 3.12109 3.63574C3.33138 3.41992 3.59977 3.24284 3.92627 3.10449C4.2583 2.96061 4.64567 2.88867 5.08838 2.88867C5.76904 2.88867 6.38607 3.06299 6.93945 3.41162C7.49837 3.76025 7.94108 4.28597 8.26758 4.98877C8.59408 5.68604 8.75732 6.52995 8.75732 7.52051C8.75732 8.5 8.59684 9.33838 8.27588 10.0356C7.96045 10.7274 7.52327 11.2559 6.96436 11.6211C6.40544 11.9808 5.78011 12.1606 5.08838 12.1606C4.64014 12.1606 4.25 12.0887 3.91797 11.9448C3.58594 11.8009 3.31201 11.6211 3.09619 11.4053C2.8859 11.1895 2.71159 10.9432 2.57324 10.6665C2.56217 10.6499 2.55387 10.6361 2.54834 10.625C2.54281 10.6139 2.53727 10.6001 2.53174 10.5835H2.40723V12.0195H0V0ZM2.39893 7.50391C2.39893 8.04622 2.47363 8.51937 2.62305 8.92334C2.77799 9.32178 2.99658 9.63444 3.27881 9.86133C3.56657 10.0882 3.91243 10.2017 4.31641 10.2017C4.72038 10.2017 5.06624 10.0882 5.354 9.86133C5.6473 9.63444 5.86865 9.31901 6.01807 8.91504C6.16748 8.51107 6.24219 8.04069 6.24219 7.50391C6.24219 6.97266 6.16748 6.50781 6.01807 6.10938C5.87419 5.71094 5.6556 5.40381 5.3623 5.18799C5.07454 4.96663 4.72591 4.85596 4.31641 4.85596C3.91243 4.85596 3.56657 4.96387 3.27881 5.17969C2.99658 5.38997 2.77799 5.6971 2.62305 6.10107C2.47363 6.49951 2.39893 6.96712 2.39893 7.50391Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .f_info .f_sns ul li.kakao a::before {
    width: 16px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24_364)'%3E%3Cpath d='M16 12.44C16 14.4064 14.4061 16 12.4405 16H3.55949C1.59308 16 0 14.4064 0 12.44V3.56C0 1.5936 1.59389 0 3.55949 0H12.4397C14.4061 0 15.9992 1.5936 15.9992 3.56V12.44H16Z' fill='white'/%3E%3Cpath d='M7.99983 2.74316C4.82172 2.74316 2.24463 4.76796 2.24463 7.26716C2.24463 8.89356 3.33645 10.3184 4.97459 11.116C4.8539 11.5624 4.5385 12.7344 4.47575 12.9848C4.3977 13.296 4.59 13.292 4.71632 13.2088C4.81528 13.1432 6.29331 12.144 6.93054 11.7128C7.27651 11.764 7.63375 11.7912 7.99903 11.7912C11.1771 11.7912 13.7542 9.76636 13.7542 7.26796C13.7542 4.76956 11.1779 2.74396 7.99903 2.74396' fill='%23333333'/%3E%3Cpath d='M3.98465 6.43394H4.57683C4.57683 6.43394 4.58085 8.05154 4.57683 8.42834C4.57763 8.70354 5.19314 8.70754 5.19233 8.43234L5.19475 6.45474C5.19475 6.45474 5.39348 6.45634 5.78451 6.45634C6.15301 6.45634 6.15301 5.88034 5.78451 5.88034C5.36934 5.88034 3.98304 5.86914 3.98304 5.86914C3.63546 5.86914 3.63626 6.43394 3.98304 6.43394' fill='white'/%3E%3Cmask id='mask0_24_364' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='3' y='5' width='4' height='4'%3E%3Cpath d='M3.98465 6.43394H4.57683C4.57683 6.43394 4.58085 8.05154 4.57683 8.42834C4.57763 8.70354 5.19314 8.70754 5.19233 8.43234L5.19475 6.45474C5.19475 6.45474 5.39348 6.45634 5.78451 6.45634C6.15301 6.45634 6.15301 5.88034 5.78451 5.88034C5.36934 5.88034 3.98304 5.86914 3.98304 5.86914C3.63546 5.86914 3.63626 6.43394 3.98304 6.43394' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_24_364)'%3E%3Cpath d='M6.15378 5.86914H3.63623V8.70754H6.15378V5.86914Z' fill='white'/%3E%3C/g%3E%3Cpath d='M6.82036 6.53766L7.15024 7.56486H6.46313L6.82036 6.53766ZM6.45106 6.05686C6.30543 6.37606 5.77842 7.88326 5.60383 8.28326C5.47751 8.57206 6.02221 8.80806 6.14853 8.51926L6.26681 8.10726H7.35058C7.35058 8.10726 7.31357 8.12406 7.45759 8.50166C7.57426 8.80726 8.13666 8.59526 8.02 8.28966C7.85345 7.85286 7.27817 6.28006 7.17277 6.05766C7.1245 5.95446 6.9507 5.88086 6.78255 5.88086C6.64335 5.88086 6.50738 5.93126 6.45025 6.05766' fill='white'/%3E%3Cmask id='mask1_24_364' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='5' y='5' width='4' height='4'%3E%3Cpath d='M6.82036 6.53766L7.15024 7.56486H6.46313L6.82036 6.53766ZM6.45106 6.05686C6.30543 6.37606 5.77842 7.88326 5.60383 8.28326C5.47751 8.57206 6.02221 8.80806 6.14853 8.51926L6.26681 8.10726H7.35058C7.35058 8.10726 7.31357 8.12406 7.45759 8.50166C7.57426 8.80726 8.13666 8.59526 8.02 8.28966C7.85345 7.85286 7.27817 6.28006 7.17277 6.05766C7.1245 5.95446 6.9507 5.88086 6.78255 5.88086C6.64335 5.88086 6.50738 5.93126 6.45025 6.05766' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_24_364)'%3E%3Cpath d='M8.1375 5.87988H5.47754V8.80788H8.1375V5.87988Z' fill='white'/%3E%3C/g%3E%3Cpath d='M8.22834 6.15126C8.22915 6.66326 8.23156 8.31446 8.23156 8.31446C8.23156 8.31446 8.18409 8.64246 8.4665 8.64246C8.74891 8.64246 9.37729 8.63926 9.65568 8.63926C9.93407 8.63926 9.93246 8.05046 9.65407 8.05046C9.37568 8.05046 8.86718 8.04726 8.86718 8.04726C8.86718 8.04726 8.8696 6.52006 8.86879 6.14966C8.86879 5.97046 8.70868 5.88086 8.54857 5.88086C8.38846 5.88086 8.22754 5.97126 8.22754 6.15126' fill='white'/%3E%3Cmask id='mask2_24_364' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='8' y='5' width='2' height='4'%3E%3Cpath d='M8.22834 6.15126C8.22915 6.66326 8.23156 8.31446 8.23156 8.31446C8.23156 8.31446 8.18409 8.64246 8.4665 8.64246C8.74891 8.64246 9.37729 8.63926 9.65568 8.63926C9.93407 8.63926 9.93246 8.05046 9.65407 8.05046C9.37568 8.05046 8.86718 8.04726 8.86718 8.04726C8.86718 8.04726 8.8696 6.52006 8.86879 6.14966C8.86879 5.97046 8.70868 5.88086 8.54857 5.88086C8.38846 5.88086 8.22754 5.97126 8.22754 6.15126' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask2_24_364)'%3E%3Cpath d='M9.93388 5.88086H8.18311V8.64246H9.93388V5.88086Z' fill='white'/%3E%3C/g%3E%3Cpath d='M10.0077 6.06966C10.0142 6.29446 10.0005 8.32566 10.0005 8.47606C10.0005 8.71366 10.6088 8.71286 10.6088 8.47606C10.6088 8.20006 10.6088 7.67686 10.6088 7.67686L10.7874 7.53446L11.5678 8.59366C11.7255 8.80086 12.2228 8.42646 12.0651 8.21926L11.2355 7.13286C11.2355 7.13286 11.7987 6.52726 12.02 6.30806C12.1495 6.18006 11.7489 5.77846 11.6193 5.90726C11.4938 6.03126 10.612 6.90886 10.612 6.90886C10.612 6.90886 10.62 6.35766 10.612 6.05286C10.6088 5.93686 10.4663 5.88086 10.3199 5.88086C10.1638 5.88086 10.0037 5.94486 10.0069 6.06886' fill='white'/%3E%3Cmask id='mask3_24_364' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='10' y='5' width='3' height='4'%3E%3Cpath d='M10.0077 6.06966C10.0142 6.29446 10.0005 8.32566 10.0005 8.47606C10.0005 8.71366 10.6088 8.71286 10.6088 8.47606C10.6088 8.20006 10.6088 7.67686 10.6088 7.67686L10.7874 7.53446L11.5678 8.59366C11.7255 8.80086 12.2228 8.42646 12.0651 8.21926L11.2355 7.13286C11.2355 7.13286 11.7987 6.52726 12.02 6.30806C12.1495 6.18006 11.7489 5.77846 11.6193 5.90726C11.4938 6.03126 10.612 6.90886 10.612 6.90886C10.612 6.90886 10.62 6.35766 10.612 6.05286C10.6088 5.93686 10.4663 5.88086 10.3199 5.88086C10.1638 5.88086 10.0037 5.94486 10.0069 6.06886' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask3_24_364)'%3E%3Cpath d='M12.2228 5.78027H10.0005V8.80107H12.2228V5.78027Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24_364'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_info .f_sns ul li.twiter a::before {
    left: 7px;
    width: 14px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_89_18)'%3E%3Cpath d='M4.32895 0L7.82895 4.97L12.0566 0.175L13.2632 0.00184211L8.47 5.79895L14 14H9.67105L5.71421 8.65789L1.39079 13.825L0.184211 13.9982L5.31632 7.86026L0 0H4.32895ZM12.5263 13.2613L4.14105 0.924737L1.47368 0.738684L9.84237 13.0918L12.5263 13.2613Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_89_18'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .f_roll {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.3;
    background-color: var(--color-main);
    color: #fff;
    white-space: nowrap;
}
footer .f_roll span {
    position: absolute;
    left: 0;
    bottom: 0;
    animation: f_roll 60s linear infinite;
}

@keyframes f_roll {
    0% { transform: translateX(0);}
    100% { transform: translateX(-66.95%);}
}

@media screen and (max-width:1024px){
    footer {
        padding: 96px 0 166px 0;
    }
    footer .f_info .f_sns ul {
        flex-wrap: wrap;
        gap: 8px 0;
        justify-content: space-between;
        max-width: calc(30px * 3 + 8px * 2);

    }
    footer .f_info .f_sns ul li {
        flex: 0 0 auto;
         /* gap 20px*2 = 40px 제외하고 3등분 */
    }
    footer .f_roll {
        height: 110px;
        font-size: 8rem;
    }
} /* @media */
@media screen and (max-width:769px) {
    footer {
        padding: 60px 0 136px 0;
    }
    footer .wrapper .top {
        top: -57px;
    }
    footer .f_info .f_sns ul {
        max-width: none;
        gap: 0 8px;
    }
    footer .f_info {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px 0;
    }
    footer .f_roll {
        height: 90px;
        font-size: 6rem;
    }
}