/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-11-12
* 설  명 : header/footer 스타일을 선언함
*********************/

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_l {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
header .header_l .logo a {
    display: block;
    width: 80px;
    height: 51px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .header_l .gnb .gnb_open {
    height: var(--header-h);
    width: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    
}
header .header_l .gnb .gnb_open .menu {
    display: block;
    width: 48px;
    height: 33.47px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}

header .util .lang .lang_open {
    display: flex;
    width: 66px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
}
header.fixed {
    color: var(--color-title);
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open i {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 32C13.8063 32 11.7361 31.5795 9.78947 30.7385C7.84281 29.8975 6.14512 28.7526 4.69642 27.3036C3.24744 25.8549 2.10246 24.1572 1.26147 22.2105C0.420491 20.2639 0 18.1937 0 16C0 13.7889 0.420491 11.7144 1.26147 9.77642C2.10246 7.83846 3.24744 6.14512 4.69642 4.69642C6.14512 3.24744 7.84281 2.10246 9.78947 1.26147C11.7361 0.420492 13.8063 0 16 0C18.2111 0 20.2856 0.420492 22.2236 1.26147C24.1615 2.10246 25.8549 3.24744 27.3036 4.69642C28.7526 6.14512 29.8975 7.83846 30.7385 9.77642C31.5795 11.7144 32 13.7889 32 16C32 18.1937 31.5795 20.2639 30.7385 22.2105C29.8975 24.1572 28.7526 25.8549 27.3036 27.3036C25.8549 28.7526 24.1615 29.8975 22.2236 30.7385C20.2856 31.5795 18.2111 32 16 32ZM16 29.4379C16.8595 28.298 17.5829 27.1482 18.1701 25.9886C18.7573 24.8291 19.2356 23.5615 19.6051 22.1861H12.3949C12.786 23.6048 13.2698 24.8939 13.8463 26.0535C14.4226 27.2131 15.1405 28.3412 16 29.4379ZM12.7385 28.9747C12.0929 28.0484 11.5131 26.9954 10.9992 25.8156C10.4852 24.6355 10.0858 23.4257 9.80084 22.1861H4.08758C4.97712 23.9352 6.1701 25.4046 7.66652 26.5945C9.16295 27.7841 10.8536 28.5775 12.7385 28.9747ZM19.2615 28.9747C21.1464 28.5775 22.8371 27.7841 24.3335 26.5945C25.8299 25.4046 27.0229 23.9352 27.9124 22.1861H22.1992C21.8601 23.4364 21.4335 24.6515 20.9196 25.8316C20.4059 27.0116 19.8532 28.0594 19.2615 28.9747ZM3.02821 19.6598H9.28926C9.18344 19.0338 9.10667 18.4201 9.05895 17.8185C9.01151 17.2173 8.98779 16.6111 8.98779 16C8.98779 15.3889 9.01151 14.7827 9.05895 14.1815C9.10667 13.5799 9.18344 12.9662 9.28926 12.3402H3.02821C2.86625 12.9123 2.74218 13.5071 2.656 14.1246C2.56954 14.7422 2.52632 15.3673 2.52632 16C2.52632 16.6327 2.56954 17.2578 2.656 17.8754C2.74218 18.4929 2.86625 19.0877 3.02821 19.6598ZM11.8152 19.6598H20.1848C20.2904 19.0338 20.367 18.4255 20.4147 17.8349C20.4622 17.2443 20.4859 16.6327 20.4859 16C20.4859 15.3673 20.4622 14.7556 20.4147 14.1651C20.367 13.5745 20.2904 12.9662 20.1848 12.3402H11.8152C11.7096 12.9662 11.633 13.5745 11.5853 14.1651C11.5378 14.7556 11.5141 15.3673 11.5141 16C11.5141 16.6327 11.5378 17.2443 11.5853 17.8349C11.633 18.4255 11.7096 19.0338 11.8152 19.6598ZM22.7107 19.6598H28.9718C29.1338 19.0877 29.2578 18.4929 29.344 17.8754C29.4305 17.2578 29.4737 16.6327 29.4737 16C29.4737 15.3673 29.4305 14.7422 29.344 14.1246C29.2578 13.5071 29.1338 12.9123 28.9718 12.3402H22.7107C22.8166 12.9662 22.8933 13.5799 22.941 14.1815C22.9885 14.7827 23.0122 15.3889 23.0122 16C23.0122 16.6111 22.9885 17.2173 22.941 17.8185C22.8933 18.4201 22.8166 19.0338 22.7107 19.6598ZM22.1992 9.8139H27.9124C27.0122 8.04323 25.8274 6.57375 24.3579 5.40547C22.8884 4.23747 21.1896 3.4386 19.2615 3.00884C19.9071 3.98905 20.4814 5.06119 20.9844 6.22526C21.4877 7.38905 21.8926 8.58526 22.1992 9.8139ZM12.3949 9.8139H19.6051C19.214 8.4059 18.7222 7.10863 18.1297 5.92211C17.5368 4.73558 16.8269 3.61558 16 2.5621C15.1731 3.61558 14.4632 4.73558 13.8703 5.92211C13.2778 7.10863 12.786 8.4059 12.3949 9.8139ZM4.08758 9.8139H9.80084C10.1074 8.58526 10.5123 7.38905 11.0156 6.22526C11.5186 5.06119 12.0929 3.98905 12.7385 3.00884C10.7994 3.4386 9.09796 4.24028 7.63411 5.4139C6.16996 6.58723 4.98779 8.05389 4.08758 9.8139Z'/%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴때 header 올림 */
header.up {
    transform: translateY(-110%);
    transition: transform 0.3s;
}

header .header_l .gnb_wrap ul {
    display: none;
}

