/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-11-12
* 설  명 : header/footer 스타일을 선언함
*********************/

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_l {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
header .header_l .logo a {
    display: block;
    width: 80px;
    height: 51px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .header_l .gnb .gnb_open {
    height: var(--header-h);
    width: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    
}
header .header_l .gnb .gnb_open .menu {
    display: block;
    width: 48px;
    height: 33.47px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}

header .util .lang .lang_open {
    display: flex;
    width: 66px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}
header.fixed {
    color: var(--color-title);
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang .lang_open i {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 34' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 33.4745V27.8954H16V33.4745H0ZM0 19.5268V13.9477H32V19.5268H0ZM0 5.57909V0H48V5.57909H0Z'/%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴때 header 올림 
    header에 menu_pc, menu_mo 있을때는 작동이 안됐으면 좋겠어요.
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}

header .header_l .gnb_wrap ul {
    display: none;
}

