/***********************
* 파일명 : main.css 
* 작성자 : 이수형
* 작성일 : 25-10-23
* 설  명 : index파일 (메인페이지)에서만 호출하는 css
          메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer 제외)
          default.css (태그의 초기화 - 브라우저가 주는 기본 스타일 삭제)
          common.css (wrapper, blind 처럼 모든 페이지에서 반복되는 기본 스타일 
          - 변수도 여기서 선언, 변수가 너무 많으면 variable이라는 파일을 분리도 함)
          layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
*********************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper .swiper-slide {
    height: 100dvh;
    min-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper .swiper-slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .paging {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    z-index: 1;
    width: calc(100% - var(--wrapper-margin) - var(--wrapper-margin));
    max-width: 630px;
}
.visual .paging ul {
    display: flex;
    gap: 0 8px;
    align-items: center;
    justify-content: center;
}
.visual .paging ul .swiper-pagination-bullet {
    position: relative; /* after 정렬의 기준 */
}
.visual .paging ul .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    width: 12%;
    height: auto;
    display: block;
    border-radius: 0;
    background: none;
    opacity: 1;
    border: 4px solid rgba(255, 255, 255, 0.4);
}
.visual .paging ul .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 58%;
    height: auto;
    display: block;
    border-radius: 0;
    background: none;
    opacity: 1;
    border: 4px solid rgba(255, 255, 255, 0.4);
}
.visual .paging ul .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: 0;
    border: 4px solid #fff;
    animation: paging 5s  linear 1 forwards;
}
@keyframes paging {
    0% { width: 0%;}
    100% { width: 100%;}
}
@media screen and (max-width:768px){
    .visual .swiper .swiper-slide {   
    height: 600px;          
    }
}

.showing {
    padding: 114px 0 0 0;
}
.showing .show_wrap {
    width: calc(50% + 630px);
    padding-left: calc((100% - 1260px) / 2);
    display: flex;
    justify-content: space-between;
    position: relative; /* more 정렬의 기준 */
}
.showing .show_wrap .tit {
    margin: 141px 24px 0 107px;
    width: 417px;
}
.showing .show_wrap .tit h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.showing .show_wrap .list {
    width: calc(100% - 417px);
    padding-bottom: 114px;
    position: relative;
}
.showing .show_wrap .list::before {
    content: "";
    position: absolute;
    left: -24px;
    top: -114px;
    width: 1px;
    height: calc(100% + 114px);
    background-color: #333;
}
.showing .show_wrap .list::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% + 417px);
    height: 3px;
    background-color: #333;
}
.showing .show_wrap .list .swiper-slide {
    width: 300px;
}
.showing .show_wrap .list .swiper-slide a {
    display: block;
}
.showing .show_wrap .list .swiper-slide a .photo {
    overflow: hidden;
}
.showing .show_wrap .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.showing .show_wrap .list .swiper-slide a h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 16px 0 8px 0;

    /* 2줄 제한 */
    height: 2.6em;
    overflow: hidden;
}
.showing .show_wrap .more {
    position: absolute; /* show_wrap을 기준으로 정렬 */
    left: 278px;
    top: 212px;
}
.showing .show_wrap .more a {
    display: block;
    padding-right: 10.5px;
}
.showing .show_wrap .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    top: 4.5px;
    right: -10.5px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.127 8.25H0V6.75H12.127L6.43075 1.05375L7.5 0L15 7.5L7.5 15L6.43075 13.9462L12.127 8.25Z' /%3E%3C/svg%3E%0A");
}
@media screen and (min-width:768px max-width:1024px){
    /* .showing .show_wrap .tit {
        margin-left: auto;
        width: auto;
    } */
    .showing .show_wrap .tit h2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .showing .show_wrap .list {
        width: calc(100% - 417px);
        padding-bottom: 114px;
        position: relative;
    }
    .showing .show_wrap .list::before {
        content: "";
        position: absolute;
        left: -24px;
        top: -114px;
        width: 1px;
        height: calc(100% + 114px);
        background-color: #333;
    }
    .showing .show_wrap .list::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(100% + 417px);
        height: 3px;
        background-color: #333;
    }
}
@media screen and (max-width:768px){
    .showing {
        padding: 97px 0 0 0;
    }
    .showing .show_wrap {
        width: auto;
        margin-left: auto;
        display: block;
        position: relative; /* more 정렬의 기준 */
    }
    /* .showing .show_wrap .tit {
        margin: auto;
        width: auto;
        display: flex;
        margin-left: 16px;
    } */
    .showing .show_wrap .tit h2 {
        font-size: 3.2rem;
    }
    .showing .show_wrap .list {
        width: auto;
        padding-bottom: 84px;
        margin-top: 24px;
        margin-left: 16px;
    }
    .showing .show_wrap .list::before {
        display: none;
    }
    .showing .show_wrap .list::after {
        width: calc(100% + 32px);
    }
    .showing .show_wrap .list .swiper-slide {
        width: 280px;
    }
    .showing .show_wrap .list .swiper-slide a h3 {
        font-size: 2rem;
        margin: 11px 0 8px 0;
    }
    .showing .show_wrap .more {
        position: absolute; /* show_wrap을 기준으로 정렬 */
        left: auto;
        bottom: auto;
        right: 0;
        top: 0;
    }
    .showing .show_wrap .more a {
        display: block;
        padding-right: 0;
    }
    .showing .show_wrap .more a span {
        display: none;
    }
    .showing .show_wrap .more a::after {
        top: 8px;
        right: 16px;
        width: 21px;
        height: 21px;
    }
}


footer {
    margin: 3000px 0 0 0;
}