@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2,
section h3 {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
    margin: 0 0 11px 0;
}
@media screen and (max-width:768px){
    section .tit h2 {
        font-size: 22px;
        margin: 0;
    }
    section .tit p {
        display: none;
    }
}

header {
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    color: #fff;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
header .logo a {
    display: block;
    width: 221px;
    height: 35px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    transition: 0.3s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: "Eulyoo1945";
    font-weight: 700;
    font-size: 22px;
    line-height: 100px;
    padding: 0 37px;
    transition: 0.3s;
}
header .util {
    display: flex;
    gap: 0 4px;
}
header .util .mypage,
header .util .search .search_open {
    display: block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C8.625 10 7.44792 9.51042 6.46875 8.53125C5.48958 7.55208 5 6.375 5 5C5 3.625 5.48958 2.44792 6.46875 1.46875C7.44792 0.489583 8.625 0 10 0C11.375 0 12.5521 0.489583 13.5312 1.46875C14.5104 2.44792 15 3.625 15 5C15 6.375 14.5104 7.55208 13.5312 8.53125C12.5521 9.51042 11.375 10 10 10ZM0 17.5V16.5C0 15.7917 0.182292 15.1406 0.546875 14.5469C0.911458 13.9531 1.39583 13.5 2 13.1875C3.29167 12.5417 4.60417 12.0573 5.9375 11.7344C7.27083 11.4115 8.625 11.25 10 11.25C11.375 11.25 12.7292 11.4115 14.0625 11.7344C15.3958 12.0573 16.7083 12.5417 18 13.1875C18.6042 13.5 19.0885 13.9531 19.4531 14.5469C19.8177 15.1406 20 15.7917 20 16.5V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5ZM2.5 17.5H17.5V16.5C17.5 16.2708 17.4427 16.0625 17.3281 15.875C17.2135 15.6875 17.0625 15.5417 16.875 15.4375C15.75 14.875 14.6146 14.4531 13.4688 14.1719C12.3229 13.8906 11.1667 13.75 10 13.75C8.83333 13.75 7.67708 13.8906 6.53125 14.1719C5.38542 14.4531 4.25 14.875 3.125 15.4375C2.9375 15.5417 2.78646 15.6875 2.67188 15.875C2.55729 16.0625 2.5 16.2708 2.5 16.5V17.5ZM10 7.5C10.6875 7.5 11.276 7.25521 11.7656 6.76562C12.2552 6.27604 12.5 5.6875 12.5 5C12.5 4.3125 12.2552 3.72396 11.7656 3.23438C11.276 2.74479 10.6875 2.5 10 2.5C9.3125 2.5 8.72396 2.74479 8.23438 3.23438C7.74479 3.72396 7.5 4.3125 7.5 5C7.5 5.6875 7.74479 6.27604 8.23438 6.76562C8.72396 7.25521 9.3125 7.5 10 7.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39687 14.7937C5.32954 14.7937 3.5799 14.0778 2.14794 12.6458C0.715979 11.2138 0 9.4642 0 7.39687C0 5.32954 0.715979 3.5799 2.14794 2.14794C3.5799 0.715979 5.32954 0 7.39687 0C9.4642 0 11.2138 0.715979 12.6458 2.14794C14.0778 3.5799 14.7937 5.32954 14.7937 7.39687C14.7937 8.23139 14.661 9.01849 14.3954 9.75818C14.1299 10.4979 13.7696 11.1522 13.3144 11.7212L19.6871 18.0939C19.8957 18.3025 20 18.568 20 18.8905C20 19.2129 19.8957 19.4784 19.6871 19.6871C19.4784 19.8957 19.2129 20 18.8905 20C18.568 20 18.3025 19.8957 18.0939 19.6871L11.7212 13.3144C11.1522 13.7696 10.4979 14.1299 9.75818 14.3954C9.01849 14.661 8.23139 14.7937 7.39687 14.7937ZM7.39687 12.5178C8.81934 12.5178 10.0284 12.0199 11.0242 11.0242C12.0199 10.0284 12.5178 8.81934 12.5178 7.39687C12.5178 5.97439 12.0199 4.76529 11.0242 3.76956C10.0284 2.77383 8.81934 2.27596 7.39687 2.27596C5.97439 2.27596 4.76529 2.77383 3.76956 3.76956C2.77383 4.76529 2.27596 5.97439 2.27596 7.39687C2.27596 8.81934 2.77383 10.0284 3.76956 11.0242C4.76529 12.0199 5.97439 12.5178 7.39687 12.5178Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* header에 fixed 클래스 추가 */
header.fixed {
    position: fixed;
    height: 80px;
    color: #171614;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg)
}
header.fixed .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10C8.625 10 7.44792 9.51042 6.46875 8.53125C5.48958 7.55208 5 6.375 5 5C5 3.625 5.48958 2.44792 6.46875 1.46875C7.44792 0.489583 8.625 0 10 0C11.375 0 12.5521 0.489583 13.5312 1.46875C14.5104 2.44792 15 3.625 15 5C15 6.375 14.5104 7.55208 13.5312 8.53125C12.5521 9.51042 11.375 10 10 10ZM0 17.5V16.5C0 15.7917 0.182292 15.1406 0.546875 14.5469C0.911458 13.9531 1.39583 13.5 2 13.1875C3.29167 12.5417 4.60417 12.0573 5.9375 11.7344C7.27083 11.4115 8.625 11.25 10 11.25C11.375 11.25 12.7292 11.4115 14.0625 11.7344C15.3958 12.0573 16.7083 12.5417 18 13.1875C18.6042 13.5 19.0885 13.9531 19.4531 14.5469C19.8177 15.1406 20 15.7917 20 16.5V17.5C20 18.1875 19.7552 18.776 19.2656 19.2656C18.776 19.7552 18.1875 20 17.5 20H2.5C1.8125 20 1.22396 19.7552 0.734375 19.2656C0.244792 18.776 0 18.1875 0 17.5ZM2.5 17.5H17.5V16.5C17.5 16.2708 17.4427 16.0625 17.3281 15.875C17.2135 15.6875 17.0625 15.5417 16.875 15.4375C15.75 14.875 14.6146 14.4531 13.4688 14.1719C12.3229 13.8906 11.1667 13.75 10 13.75C8.83333 13.75 7.67708 13.8906 6.53125 14.1719C5.38542 14.4531 4.25 14.875 3.125 15.4375C2.9375 15.5417 2.78646 15.6875 2.67188 15.875C2.55729 16.0625 2.5 16.2708 2.5 16.5V17.5ZM10 7.5C10.6875 7.5 11.276 7.25521 11.7656 6.76562C12.2552 6.27604 12.5 5.6875 12.5 5C12.5 4.3125 12.2552 3.72396 11.7656 3.23438C11.276 2.74479 10.6875 2.5 10 2.5C9.3125 2.5 8.72396 2.74479 8.23438 3.23438C7.74479 3.72396 7.5 4.3125 7.5 5C7.5 5.6875 7.74479 6.27604 8.23438 6.76562C8.72396 7.25521 9.3125 7.5 10 7.5Z' fill='%23171614'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39687 14.7937C5.32954 14.7937 3.5799 14.0778 2.14794 12.6458C0.715979 11.2138 0 9.4642 0 7.39687C0 5.32954 0.715979 3.5799 2.14794 2.14794C3.5799 0.715979 5.32954 0 7.39687 0C9.4642 0 11.2138 0.715979 12.6458 2.14794C14.0778 3.5799 14.7937 5.32954 14.7937 7.39687C14.7937 8.23139 14.661 9.01849 14.3954 9.75818C14.1299 10.4979 13.7696 11.1522 13.3144 11.7212L19.6871 18.0939C19.8957 18.3025 20 18.568 20 18.8905C20 19.2129 19.8957 19.4784 19.6871 19.6871C19.4784 19.8957 19.2129 20 18.8905 20C18.568 20 18.3025 19.8957 18.0939 19.6871L11.7212 13.3144C11.1522 13.7696 10.4979 14.1299 9.75818 14.3954C9.01849 14.661 8.23139 14.7937 7.39687 14.7937ZM7.39687 12.5178C8.81934 12.5178 10.0284 12.0199 11.0242 11.0242C12.0199 10.0284 12.5178 8.81934 12.5178 7.39687C12.5178 5.97439 12.0199 4.76529 11.0242 3.76956C10.0284 2.77383 8.81934 2.27596 7.39687 2.27596C5.97439 2.27596 4.76529 2.77383 3.76956 3.76956C2.77383 4.76529 2.27596 5.97439 2.27596 7.39687C2.27596 8.81934 2.77383 10.0284 3.76956 11.0242C4.76529 12.0199 5.97439 12.5178 7.39687 12.5178Z' fill='%23171614'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    header {
        width: 100%;
        height: 56px;
        padding: 0 0 0 16px;
    }
    header .logo a {
        width: 114px;
        height: 18px;
    }
    header .gnb .gnb_open {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.14286 2.00885C0.819048 2.00885 0.547619 1.91259 0.328571 1.72008C0.109524 1.52756 0 1.28901 0 1.00443C0 0.719838 0.109524 0.481287 0.328571 0.288772C0.547619 0.0962574 0.819048 0 1.14286 0H19.4286C19.7524 0 20.0238 0.0962574 20.2429 0.288772C20.4619 0.481287 20.5714 0.719838 20.5714 1.00443C20.5714 1.28901 20.4619 1.52756 20.2429 1.72008C20.0238 1.91259 19.7524 2.00885 19.4286 2.00885H1.14286ZM1.14286 14.062C0.819048 14.062 0.547619 13.9657 0.328571 13.7732C0.109524 13.5807 0 13.3421 0 13.0575C0 12.7729 0.109524 12.5344 0.328571 12.3419C0.547619 12.1494 0.819048 12.0531 1.14286 12.0531H19.4286C19.7524 12.0531 20.0238 12.1494 20.2429 12.3419C20.4619 12.5344 20.5714 12.7729 20.5714 13.0575C20.5714 13.3421 20.4619 13.5807 20.2429 13.7732C20.0238 13.9657 19.7524 14.062 19.4286 14.062H1.14286ZM1.14286 8.0354C0.819048 8.0354 0.547619 7.93915 0.328571 7.74663C0.109524 7.55412 0 7.31557 0 7.03098C0 6.74639 0.109524 6.50784 0.328571 6.31532C0.547619 6.12281 0.819048 6.02655 1.14286 6.02655H19.4286C19.7524 6.02655 20.0238 6.12281 20.2429 6.31532C20.4619 6.50784 20.5714 6.74639 20.5714 7.03098C20.5714 7.31557 20.4619 7.55412 20.2429 7.74663C20.0238 7.93915 19.7524 8.0354 19.4286 8.0354H1.14286Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
    header .util {
        display: none;
    }
    /* header에 fixed 클래스 추가 */
    header.fixed {
        height: 56px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.14286 2.00885C0.819048 2.00885 0.547619 1.91259 0.328571 1.72008C0.109524 1.52756 0 1.28901 0 1.00443C0 0.719838 0.109524 0.481287 0.328571 0.288772C0.547619 0.0962574 0.819048 0 1.14286 0H19.4286C19.7524 0 20.0238 0.0962574 20.2429 0.288772C20.4619 0.481287 20.5714 0.719838 20.5714 1.00443C20.5714 1.28901 20.4619 1.52756 20.2429 1.72008C20.0238 1.91259 19.7524 2.00885 19.4286 2.00885H1.14286ZM1.14286 14.062C0.819048 14.062 0.547619 13.9657 0.328571 13.7732C0.109524 13.5807 0 13.3421 0 13.0575C0 12.7729 0.109524 12.5344 0.328571 12.3419C0.547619 12.1494 0.819048 12.0531 1.14286 12.0531H19.4286C19.7524 12.0531 20.0238 12.1494 20.2429 12.3419C20.4619 12.5344 20.5714 12.7729 20.5714 13.0575C20.5714 13.3421 20.4619 13.5807 20.2429 13.7732C20.0238 13.9657 19.7524 14.062 19.4286 14.062H1.14286ZM1.14286 8.0354C0.819048 8.0354 0.547619 7.93915 0.328571 7.74663C0.109524 7.55412 0 7.31557 0 7.03098C0 6.74639 0.109524 6.50784 0.328571 6.31532C0.547619 6.12281 0.819048 6.02655 1.14286 6.02655H19.4286C19.7524 6.02655 20.0238 6.12281 20.2429 6.31532C20.4619 6.50784 20.5714 6.74639 20.5714 7.03098C20.5714 7.31557 20.4619 7.55412 20.2429 7.74663C20.0238 7.93915 19.7524 8.0354 19.4286 8.0354H1.14286Z' fill='%23171614'/%3E%3C/svg%3E%0A");
    }
}

.visual {
    position: relative; /* ctrl_btn 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 맞춰서 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup_1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup_2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup_3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide.swiper-slide-active {

}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 62dvh 0 15px 0;
    transition: 1s;
    transition-delay: 0.5s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide p {
    font-size: 24px;
    transition: 1s;
    transition-delay: 1s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 80px);
    bottom: 6dvh;
    display: flex;
    gap: 0 20px;
    z-index: 1;
    align-items: center;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    gap: 0 20px;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #fff;
    opacity: 1;
    margin: 0;
    position: relative;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.visual .ctrl_btn .btn_pause {
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.175 14C9.62505 14 9.15422 13.8042 8.76255 13.4125C8.37088 13.0208 8.17505 12.55 8.17505 12V2C8.17505 1.45 8.37088 0.979167 8.76255 0.5875C9.15422 0.195833 9.62505 0 10.175 0C10.725 0 11.1959 0.195833 11.5875 0.5875C11.9792 0.979167 12.175 1.45 12.175 2V12C12.175 12.55 11.9792 13.0208 11.5875 13.4125C11.1959 13.8042 10.725 14 10.175 14ZM2.17505 14C1.62505 14 1.15422 13.8042 0.762549 13.4125C0.370882 13.0208 0.175049 12.55 0.175049 12V2C0.175049 1.45 0.370882 0.979167 0.762549 0.5875C1.15422 0.195833 1.62505 0 2.17505 0C2.72505 0 3.19588 0.195833 3.58755 0.5875C3.97922 0.979167 4.17505 1.45 4.17505 2V12C4.17505 12.55 3.97922 13.0208 3.58755 13.4125C3.19588 13.8042 2.72505 14 2.17505 14Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    display: none;
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.675 7.025C9.825 6.925 9.9375 6.8 10.0125 6.65C10.0875 6.5 10.125 6.34167 10.125 6.175C10.125 6.00833 10.0875 5.85 10.0125 5.7C9.9375 5.55 9.825 5.425 9.675 5.325L1.525 0.15C1.44167 0.1 1.35417 0.0625 1.2625 0.0375C1.17083 0.0125 1.08333 0 1 0C0.733334 0 0.5 0.0958333 0.3 0.2875C0.1 0.479167 0 0.716667 0 1V11.35C0 11.6333 0.1 11.8708 0.3 12.0625C0.5 12.2542 0.733334 12.35 1 12.35C1.08333 12.35 1.17083 12.3375 1.2625 12.3125C1.35417 12.2875 1.44167 12.25 1.525 12.2L9.675 7.025Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_prev {
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.725 10.0001L10.075 17.3501C10.325 17.6001 10.4458 17.8918 10.4375 18.2251C10.4292 18.5584 10.3 18.8501 10.05 19.1001C9.8 19.3501 9.50833 19.4751 9.175 19.4751C8.84167 19.4751 8.55 19.3501 8.3 19.1001L0.6 11.4251C0.4 11.2251 0.25 11.0001 0.15 10.7501C0.05 10.5001 0 10.2501 0 10.0001C0 9.75011 0.05 9.50011 0.15 9.25011C0.25 9.00011 0.4 8.77511 0.6 8.57511L8.3 0.87511C8.55 0.62511 8.84583 0.504277 9.1875 0.51261C9.52917 0.520944 9.825 0.65011 10.075 0.90011C10.325 1.15011 10.45 1.44178 10.45 1.77511C10.45 2.10844 10.325 2.40011 10.075 2.65011L2.725 10.0001Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_next {
    width: 22px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.725 10.0001L10.075 17.3501C10.325 17.6001 10.4458 17.8918 10.4375 18.2251C10.4292 18.5584 10.3 18.8501 10.05 19.1001C9.8 19.3501 9.50833 19.4751 9.175 19.4751C8.84167 19.4751 8.55 19.3501 8.3 19.1001L0.6 11.4251C0.4 11.2251 0.25 11.0001 0.15 10.7501C0.05 10.5001 0 10.2501 0 10.0001C0 9.75011 0.05 9.50011 0.15 9.25011C0.25 9.00011 0.4 8.77511 0.6 8.57511L8.3 0.87511C8.55 0.62511 8.84583 0.504277 9.1875 0.51261C9.52917 0.520944 9.825 0.65011 10.075 0.90011C10.325 1.15011 10.45 1.44178 10.45 1.77511C10.45 2.10844 10.325 2.40011 10.075 2.65011L2.725 10.0001Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }
    .visual .swiper-slide h3 {
        font-size: 28px;
        margin: 254px 0 8px 0;
        transition: 1s;
        transition-delay: 0.5s;
        transform: translateY(30px);
        opacity: 0;
    }
    .visual .swiper-slide p {
        font-size: 16px;
        margin: 0 0 67px 0;
        transition: 1s;
        transition-delay: 1s;
        transform: translateY(30px);
        opacity: 0;
    }
    .visual .swiper-slide.swiper-slide-active h3 {
        transform: translateY(0);
        opacity: 1;
    }
    .visual .swiper-slide.swiper-slide-active p {
        transform: translateY(0);
        opacity: 1;
    }
    .visual .ctrl_btn {
        left: calc(50% - 30px);
        bottom: 17px;
        gap: 0 10px;
    }
    .visual .ctrl_btn .paging {
        gap: 0 10px;
    }
    .visual .ctrl_btn .paging .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
        display: none;
    }
    .visual .ctrl_btn .btn_pause {
        width: 11px;
        height: 11px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 10.5C7.0875 10.5 6.73438 10.3531 6.44063 10.0594C6.14688 9.76562 6 9.4125 6 9V1.5C6 1.0875 6.14688 0.734375 6.44063 0.440625C6.73438 0.146875 7.0875 0 7.5 0C7.9125 0 8.26562 0.146875 8.55938 0.440625C8.85313 0.734375 9 1.0875 9 1.5V9C9 9.4125 8.85313 9.76562 8.55938 10.0594C8.26562 10.3531 7.9125 10.5 7.5 10.5ZM1.5 10.5C1.0875 10.5 0.734375 10.3531 0.440625 10.0594C0.146875 9.76562 0 9.4125 0 9V1.5C0 1.0875 0.146875 0.734375 0.440625 0.440625C0.734375 0.146875 1.0875 0 1.5 0C1.9125 0 2.26562 0.146875 2.55938 0.440625C2.85313 0.734375 3 1.0875 3 1.5V9C3 9.4125 2.85313 9.76562 2.55938 10.0594C2.26562 10.3531 1.9125 10.5 1.5 10.5Z' fill='white'/%3E%3C/svg%3E%0A");;
    }
    .visual .ctrl_btn .btn_play {
        width: 11px;
        height: 11px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.61774 6.25708C8.75135 6.16802 8.85155 6.05668 8.91835 5.92308C8.98515 5.78947 9.01855 5.64845 9.01855 5.5C9.01855 5.35155 8.98515 5.21053 8.91835 5.07692C8.85155 4.94332 8.75135 4.83198 8.61774 4.74292L1.35864 0.133603C1.28441 0.0890688 1.20648 0.055668 1.12483 0.0334008C1.04318 0.0111336 0.965249 0 0.891025 0C0.653508 0 0.445681 0.0853576 0.267543 0.256073C0.0894058 0.426788 0.000336856 0.638327 0.000336856 0.890688V10.1093C0.000336856 10.3617 0.0894058 10.5732 0.267543 10.7439C0.445681 10.9146 0.653508 11 0.891025 11C0.965249 11 1.04318 10.9889 1.12483 10.9666C1.20648 10.9443 1.28441 10.9109 1.35864 10.8664L8.61774 6.25708Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .visual .ctrl_btn .btn_prev {
        display: none;
    }
    .visual .ctrl_btn .btn_next {
        display: none;
    }
} /* @media */

.book {
    margin: 146px 0 0 0;
}
.book .book_wrap {
    background-color: aqua;
    width: calc(50% + 630px);
    margin-left: calc((100% - 1260px) / 2);
}


footer {
    margin: 500px 0 0 0;
}