@import url(common.css);

header {
    background-color: #fff;
    position: absolute; /* body를 기준으로 정렬 */
    left: 30px;
    top: 30px;
    z-index: 100;
    width: calc(100% - 60px);
    height: 80px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .wrapper {
    position: relative;  /* button 정렬의 기준 */
    height: 700px;
} 
.visual h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.02em;
    padding: 227px 0 23px 0;
}
.visual button {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #DB0032;
    border-radius: 50%; /* 동그라미는 50% */
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: -100px;
    bottom: -100px;
}

.f_nav {
    margin: 50px 0 50px 0;
}
.f_nav ul {
    display: flex;
    gap : 0 54px
}
.f_nav ul li {
    position: relative; 
    /* before를 li를 기준으로 정렬하려면 position 속성이 선언 되어야 함.
       position 속성 중에서 제일 멀쩡한 값 부여 (값을 준 것과 안 준 것의 차이가 거의 없음)
       ∴ absolute 정렬의 기준에는 position: relative;를 부여
       ※position 값이 없을 경우에만 */
}
.f_nav ul li::before {
    content:  ""; /*before/after 가상선택자는 반드시 content라는 속성이 있어야 함 */
    width: 1px;
    height: 11px;
    background-color: #d4d4d4;
    display: block;
    position: absolute; /* li를 기준으로 정렬 */
    left: -27px;
    top: 6px;
}
/* 첫번째 li의 before를 숨김처리 */
.f_nav ul li:first-child::before {
    display: none;
}

.btn_svg, 
.btn_path, 
.btn_path_ab, 
.btn_bg,
.btn_ico {
    margin: 50px 0 50px 0;
}
.btn_svg h2, 
.btn_path h2, 
.btn_path_ab h2, 
.btn_bg h2,
.btn_ico h2 {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 8px 0;
}
.btn_svg a {
    border: 1px solid #555;
    padding: 12px 56px 12px 25px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}
.btn_svg a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 12px;
    background: url(../images/btn_arrow.svg) no-repeat center center;
    width: 24px;
    height: 24px;
}
.btn_svg a:hover {
    border-color: #DB0032;
    background-color: #DB0032;
    color: #fff;
}
.btn_svg a:hover::after {
    background: url(../images/btn_arrow_w.svg);
}
.btn_path a {
    border: 1px solid #666;
    padding: 12px 23px 12px 25px;
    display: inline-flex;
    border-radius: 30px;
    gap: 0 29px;
    align-items: center;
}
.btn_path a:hover {
    border-color: #DB0032;
    background-color: #DB0032;
    color: #fff;
}
.btn_path a:hover svg path {
    fill: #fff;
}

.btn_path_ab a {
    border: 1px solid #666;
    padding: 12px 56px 12px 25px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
}
.btn_path_ab a svg {
    position: absolute;
    right: 23px;
    top: 20px;
}
.btn_path_ab a:hover {
    border-color: #DB0032;
    background-color: #DB0032;
    color: #fff;
}
.btn_path_ab a:hover svg path {
    fill: #fff;
}

.btn_bg a {
    border: 1px solid #666;
    padding: 12px 56px 12px 25px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
}
.btn_bg a::after {
    content: "";
    position: absolute;
    right: 23px;
    top: 20px;
    width: 4px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.80851 4.48837L0.723404 7.86047C0.680851 7.90698 0.634752 7.94186 0.585106 7.96512C0.535461 7.98837 0.48227 8 0.425532 8C0.312057 8 0.212766 7.95736 0.12766 7.87209C0.0425532 7.78682 0 7.67442 0 7.53488V0.465116C0 0.325581 0.0425532 0.213178 0.12766 0.127907C0.212766 0.0426355 0.312057 -1.36404e-08 0.425532 -1.86006e-08C0.453901 -1.98406e-08 0.553192 0.0465121 0.723404 0.139535L3.80851 3.51163C3.87943 3.58915 3.92908 3.66667 3.95745 3.74419C3.98582 3.82171 4 3.90698 4 4C4 4.09302 3.98582 4.17829 3.95745 4.25581C3.92908 4.33333 3.87943 4.41085 3.80851 4.48837Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
}
.btn_bg a:hover {
    border-color: #DB0032;
    background-color: #DB0032;
    color: #fff;
}
.btn_bg a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.80851 4.48837L0.723404 7.86047C0.680851 7.90698 0.634752 7.94186 0.585106 7.96512C0.535461 7.98837 0.48227 8 0.425532 8C0.312057 8 0.212766 7.95736 0.12766 7.87209C0.0425532 7.78682 0 7.67442 0 7.53488V0.465116C0 0.325581 0.0425532 0.213178 0.12766 0.127907C0.212766 0.0426355 0.312057 -1.36404e-08 0.425532 -1.86006e-08C0.453901 -1.98406e-08 0.553192 0.0465121 0.723404 0.139535L3.80851 3.51163C3.87943 3.58915 3.92908 3.66667 3.95745 3.74419C3.98582 3.82171 4 3.90698 4 4C4 4.09302 3.98582 4.17829 3.95745 4.25581C3.92908 4.33333 3.87943 4.41085 3.80851 4.48837Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.btn_ico a {
    border: 1px solid #666;
    padding: 12px 56px 12px 25px;
    border-radius: 25px;
    display: inline-block;
    position: relative; /* i 정렬 기준 */
}
.btn_ico a i {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #1d1d1d;
}
.btn_ico a:hover,
.btn_ico a:hover i {
    border-color: #DB0032;
    background-color: #DB0032;
    color: #fff;
}

body {
    padding: 0 0 500px 0;
}