@import url(common.css);

@media screen and (max-width:768px){
    html, body {
        font-size: 10px;
    }
}

.btn1 {
    margin: 50px 0 50px 0;
}
.btn1 button {
    background-color: #FF4040;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 5px;
    padding: 9px 23px 9px 23px;
    border-radius: 30px;
}

.btn1 button i {
    display: block;
    width: 11px;
}
.btn2 {
    margin: 50px 0 50px 0;
}
.btn2 button { /* 글자크기 17px */
    font-size: 25px;
    background-color: #FF4040;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 0.2941em;
    padding: 0.5294em 1.3529em 0.5294em 1.3529em;
    border-radius: 1.7647em;
}

.btn2 button i {
    display: block;
    width: 0.6470em;
}
.btn3 {
    margin: 50px 0 50px 0;
}
.btn3 button { /* 글자크기 17px */
    font-size: 1.5rem;
    background-color: #FF4040;
    color: #fff;
    fill: #fff;
    display: flex;
    gap: 0 0.2941rem;
    padding: 0.5294rem 1.3529rem 0.5294rem 1.3529rem;
    border-radius: 1.7647rem;
}

.btn3 button i {
    display: block;
    width: 0.6470rem;
}