@import url(common.css);
.asia {
    margin: 164px 0 0 0;
}
.asia .wrapper {
    display: flex; /* tit-photo 좌우배치 */
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 0 24px;
}
.asia .tit h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 11px 0;
}
@media screen and (max-width:768px){
    .asia {
        margin: 128px 0 0 0;
    }
    .asia .wrapper {
        display: block; /* tit-photo 위아래로 변경 */
    }
    .asia .tit h2 {
        font-size: 25px;
        margin: 0 0 4px 0;
    }
    .asia .photo {
        margin: 32px 0 0 0;
    }
    .asia .photo img {
        width: 100%;
    }
}/*@media*/

.photo_wrap {
    margin: 50px 0 0 0;
}
.photo_wrap .photo {
    overflow: hidden;
    width: 832px;
    height: 536px;
}
.photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .photo_wrap {
        margin: 30px 0 0 0;
    }
    .photo_wrap .photo {
        width: auto;
        height: 197px;
    }
}/*@media*/

.mission {
    margin: 170px 0 100px 0;
    text-align: center;
}
.mission strong {
    font-weight: 800;
    color: #1d1d1d;
}
.mission h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 18px 0 18px 0;
}
.mission h2 br.mo_only {
    display: none;
}
@media screen and (max-width:768px){
    .mission {
        margin: 82px 0 50px 0;
    }
    .mission h2 {
        font-size: 28px;
        margin: 10px 0 20px 0;
    }
    .mission h2 br.mo_only {
        display: block;
    }
    .mission h2 br.pc_only {
        display: none;
    }
    .mission p br {
        display: none;
    }
}/*@media*/

.winner {
    margin: 160px 0 100px 0;
}
.winner .tit strong {
    font-weight: 800;
    color: #1d1d1d;
}
.winner .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 8px 0 0 0;
}
.winner .list {
    margin: 33px 0 0 0;
}
.winner .list .swiper-slide a {
    display: block;
}
.winner .list .swiper-slide a .photo {
    overflow: hidden;
    height: 305px;
}
.winner .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.winner .list .swiper-slide a h3 {
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 20px 0 0 0;
    position: relative; /* before 정렬의 기준 */
    padding: 5px 10px 5px 10px;
    transition: 0.3s;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.winner .list .swiper-slide a h3::before {
    content: "";
    position: absolute; /* h3를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #E7336E;
    transition: 0.5s;
}
.winner .list .swiper-slide a:hover h3 {
    color: #fff;
}
.winner .list .swiper-slide a:hover h3::before {
    width: 100%;
}
@media screen and (max-width:768px){
    .winner {
        margin: 80px 0 50px 0;
    }
    .winner .tit h2 {
        font-size: 28px;
        margin: 4px 0 0 0;
    }
    .winner .list {
        margin: 23px 0 0 0;
    }
    .winner .list .swiper-slide {
        width: 200px;
    }
    .winner .list .swiper-slide a .photo {
        overflow: hidden;
        height: 155px;
    }
    .winner .list .swiper-slide a h3 {
        margin: 10px 0 0 0;    
        white-space: wrap;
        overflow: visible;
        /* text-overflow: ellipsis; */
    }
    
}/*@media*/