@import url(common.css);

.plus {
    margin: 161px 0 0 0;
}
.plus .wrapper {
    display: flex; /* tit - photo 좌우배치 */
    justify-content: space-between;
    align-items: flex-start;
}
.plus .tit {
    width: 40.55%; /* 1260에서 넓이 511 > 511 / 1260 * 100 = 40.55 */
    margin: 103px 0 0 0;
}
.plus .photo {
    width: 49.04%; /* 1260에서 넓이 618 > 618 / 1260 * 100 = 49.04 */
    border-radius: 20px;
}
.plus .photo img {
    vertical-align: top;
}
.plus .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
@media screen and (max-width:1024px){
    .plus .tit h2 {
        font-size: 32px;
    } 
}
@media screen and (max-width:768px){
    .plus {
        margin: 81px 0 0 0;
    }
    .plus .wrapper {
        display: block; /* flex -> block */
    }
    .plus .tit {
        width: auto; /* 넓이 고정 값 삭제하고 원래 tit의 넓이 값을 줌 block 요소면 100% */
        margin: 0 0 16px 0;
    }
    .plus .photo {
        width: auto;
        border-radius: 10px;
    }
    .plus .tit h2 {
        font-size: 28px;
        margin: 0 0 8px 0;
    }  
} /* @media */

.support {
    margin: 86px 0 0 0;
}
.support .wrapper {
    display: flex; /* tit - photo 좌우 배치 */
    flex-direction: row-reverse;
    justify-content: space-between;
}
.support .tit {
    /* 넓이 고정 */
    width: 511px;
    margin: 103px 0 0 0;
}
.support .photo {
    /* tit 넓이 빼고 나머지 - 넓이가 변경됨 */
    width: calc(100% - 642px);
    height: 471px;
    border-radius: 20px;
}
.support .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
@media screen and (max-width:1024px){
    .support .tit h2 {
        font-size: 32px;
    }
    .support .tit {
        /* 넓이 고정 */
        width: 400px;
    }
    .support .photo {
        /* tit 넓이 빼고 나머지 - 넓이가 변경됨 */
        width: calc(100% - 442px);
    }
} /* @media */
@media screen and (max-width:768px){
    .support {
        margin: 46px 0 0 0;
    }
    .support .wrapper {
        display: block; /* flex -> block */
    }
    .support .tit {
        /* 넓이 고정 */
        width: auto;
        margin: 0 0 16px 0;
    }
    .support .photo {
        /* tit 넓이 빼고 나머지 - 넓이가 변경됨 */
        width: auto;
        height: 250px;
        border-radius: 10px;
    }
    .support .tit h2 {
        font-size: 28px;
        margin: 0 0 8px 0;
    }
}/* @media */

.minus {
    margin: 86px 0 0 0;
}
.minus .wrapper {
    display: flex;
    justify-content: space-between;
}
.minus .tit {
    width: 40%;
    margin: 103px 0 0 0;
}
.minus .photo {
    width: 50%;
    height: 471px;
    border-radius: 20px;
}
.minus .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
@media screen and (max-width:1024px){
    .minus .tit h2 {
        font-size: 32px;
    }
}
@media screen and (max-width:768px){
    .minus {
        margin: 46px 0 0 0;
    }
    .minus .wrapper {
        display: block;
    }
    .minus .tit {
        width: auto;
        margin: 0 0 16px 0;
    }
    .minus .photo {
        width: auto;
        height: 250px;
        border-radius: 10px;
    }
    .minus .tit h2 {
        font-size: 28px;
        margin: 0 0 8px 0;
    }
} /* @media */

.service {
    background-color: #1F00CE;
    color: #fff;
    margin: 161px 0 0 0;
    padding: 98px 0 98px 0;
}
.service .list ul {
    display: flex;
}
.service .list ul li {
    width: 16.66%;
}
.service .list ul li a {
    display: flex;
    gap: 0 20px;
    align-items: center;
}
.service .list ul li a i {
    width: 87px;
    height: 87px;
    background-color: #fff;
    border-radius: 50%;
    /* svg 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .list ul li a span {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
@media screen and (max-width:1336px){ /* wrapper 넓이가 풀린 시점 */
    .service .list ul li a {
        flex-direction: column;
        gap: 5px 0;
        align-items: center;
    }
    .service .list ul li a span {
        font-size: 22px;
    }
    .service .list ul li a span br {
        display: none;
    }
}/* @media */
@media screen and (max-width:1024px){
    .service .list ul li a span {
        font-size: 19px;
        text-align: center;
    }
    .service .list ul li a span br {
        display: block;
    }
}/* @media */
@media screen and (max-width:768px){
    .service {
        padding: 47px 0 47px 0;
        margin: 84px 0 0 0;
    }
    .service .list ul {
        flex-wrap: wrap;
        gap: 24px 0;
    }
    .service .list ul li {
        width: 33.33%;
    }
    .service .list ul li a {
        gap: 4px 0;
    }
    .service .list ul li a i {
        width: 41px;
        height: 41px;
        background-color: transparent;
    }
    .service .list ul li a i svg {
        width: 95%;
        height: 95%;
        /* 감싸는 영역이 svg에 써있는 사이즈보다 작으면 
            자동으로 사이즈가 줄어듬*/
    }
    .service .list ul li a i svg path {
        fill: #fff; /* 내가 복사한 svg html path에 fill이 들어가 있음 */
    }
    .service .list ul li a span br {
        display: none;
    }
}
@media screen and (max-width:450px){
    .service .list ul li {
        width: 50%;
    }
}

body {
    margin: 0 0 500px 0;
}