@import url(common.css);

.visual {
    position: relative; /* ctrl_btn의 정렬 기준 */
}
.visual .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/swiper01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/swiper02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/swiper03.jpg);
}
.visual .swiper-slide h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin: 285px 0 22px 0;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: 0;
    bottom: 40px;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}
.visual .ctrl_btn button {
    width: 35px;
    height: 35px;
}
.visual .ctrl_btn .btn_prev, 
.visual .ctrl_btn .btn_next {
    background: url(../images/arrow_back_ios.svg) no-repeat center center;
}
.visual .ctrl_btn .btn_next {
    transform: rotate(180deg);
}
.visual .ctrl_btn .paging {
    width: auto; /* width : 100%로 들어간 값 취소 시키기 위함 */
    font-size: 700;
}
.visual .ctrl_btn .btn_play {
     background: url(../images/arrow_back_2.svg) no-repeat center center;
     display: none; /* 처음에 안나옴 */
}
.visual .ctrl_btn .btn_pause {
     background: url(../images/pause.svg) no-repeat center center;
}

.news {
    margin: 158px 0 100px 0;
}
.news .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.news .list {
    margin: 14px 0 0 0;
}
.news .list .swiper-slide a {
    display: block;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 250px;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .list .swiper-slide a h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 24px 0 8px 0;
}