@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
/* * (와일드카드)는 모든 태그를 지칭 */
* {
    margin: 0;
    padding: 0;
}
/* body 태그는 모든 태그를 감싸는 태그
    글자의 기본 스타일을 줌 - 글자 스타일은 상속이 가능하다. */
    body {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
.eng {
    margin: 110px 0 0 0 ;
}
.eng h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
}
.eng .sub_tit {
    font-size: 24px;
    color: #1d1d1d;
    margin: 34px 0 11px 0;
}
.eng strong {
    color: #2740d8;
    font-weight: 700;
}
.env {
    text-align: center;
    margin: 171px 0 0 0;
}
.env h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #d81408;
}
.env .sub_tit {
    font-size: 24px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 5px 0 6px 0;
}
.env strong {
    color: #d81408;
    font-weight: 700;
    text-decoration: underline;
}