/* 웹폰트 선언 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
/* body 기본 글자 스타일 적용 */
body {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
}
/* html태그의 기본 스타일을 리셋 
    body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* 브라우저가 주는 스타일 무시 */
    font-size: inherit;
}
strong { 
    font-weight: inherit;
}
em {
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
ol, li, ul {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}