@import url("https://unpkg.com/pretendard@1.3.9/dist/web/static/pretendard.css");
body { 
    font-family: "Pretendard"; /* 서체 */
    font-size: 17px;
    color: #555;
    line-height: 1.5;
    font-weight: 400;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
h1 {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    font-weight: 700;
    color: #57b2ff;
}