/* 웹폰트 선언 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
/* body 기본 글자 스타일 적용 */
body {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #555;
    line-height: 1.5;
}
/* html태그의 기본 스타일을 리셋 
    body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* 브라우저가 주는 스타일 무시 */
    font-size: inherit;
}
strong { 
    font-weight: inherit;
}
em {
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
ol, li, ul {
    list-style: none;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.nat {
    margin: 186px 0 0 0;
}
.vil {
    margin: 159px 0 0 0;
    text-align: center;
}
.cyc {
    margin: 167px 0 200px 0;
    text-align: right;
}
.nat h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 26px 0;
}
.nat h1 strong, .nat p strong {
    font-weight: 700;
    color: #0078b7;
}
.vil h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 30px 0;
}
.vil h1 strong {
    color: #26b170;
    font-weight: 700;
}
.cyc h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 23px 0;
}
.cyc h2 {
    font-size: 32px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 63px 0 15px 0;
}
.cyc strong {
    color: #16909b;
}
.cyc p strong {
    font-weight: 700;
    text-decoration: underline;
    color: red;}
