/* 모든페이지에서 중복되는 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
       font-size: 17px;
       font-weight: 400;
       line-height: 1.5;
       color: #1d1d1d;
       word-break: keep-all;
       word-wrap: break-word; /* 단어가 너무 길 때 강제 줄바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1320px; /* 1260 + 30 + 30 = 1320 */
    position: relative; /* header 정렬의 기준 */
}
/* html 문서 구조상 글자를 써야하지만 
   글자를 가리고 싶을 때 blind 클래스 부여 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}