@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    height: 100px;
    position: absolute; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    color: #fff;
    display: flex; /* logo - gnb - util 좌우배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}
header .logo a {
    display: block;
    width: 139px;
    height: 54px;
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* contain -> 이미지를 잘리지 않게 함 */
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}
@media screen and (max-width:768px){
    header .logo a {
        display: block;
        width: 61px;
        height: 24px;
    }
}/* @media */
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 100px;
    font-size: 24px;
    padding: 0 40px 0 40px;
}
header .util {
    display: flex;
    gap: 0 8px;
}
header .util .mypage,
header .util .lang .lang_open {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url(../images/utill_mypage.svg);
}
header .util .lang .lang_open {
    background-image: url(../images/util_lang.svg);
}
@media screen and (max-width:768px){
    header .logo a {
        display: block;
        width: 61px;
        height: 24px;
    }
}/* @media */

@media screen and (max-width:768px){
    header {
        height: 60px;
        padding: 0 0 0 16px;
    }
    header .gnb .gnb_open {
        display: block; /* 모바일에서만 나옴 */
        width: 60px;
        height: 60px;
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap {
        display: none; /* 모바일에서 숨김 */
    }
    header .util {
        display: none;
    }
}/* @media */

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup01 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup02 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup03 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 12px 0;
}
.visual .swiper-slide p {
    font-size: 24px;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px);
    top: calc(50% + 145px);
    z-index: 1;
    display: flex;
    gap: 0 12px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_prev.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none;
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_prev.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        /* align-items: flex-end; */
    }
    .visual .swiper-slide h3 {
        font-size: 44px;
        margin: 33vh 0 0 0;
    }
    .visual .swiper-slide h3 br {
        display: none;
    }
    .visual .swiper-slide p {
        display: none;
    }
    .visual .btn_wrap {
        left: 50%; /* 정렬의 기준 visual 넓이의 50% */
        transform: translateX(-50%); /* 나 자신 btn_wrap 넓이의 절반을 왼쪽으로 이동 */
        top: auto; /* pc버전에서 top을 줬다가 모바일에서 bottom으로 변경 시 top : auto, bottom : 값 */
        bottom: 17px;
    }
    .visual .btn_wrap button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .visual .btn_wrap button.btn_prev {
        background-image: url(../images/visual_prev.svg);
    }
    .visual .btn_wrap button.btn_play {
        background-image: url(../images/visual_play.svg);
    }
    .visual .btn_wrap button.btn_stop {
        background-image: url(../images/visual_stop.svg);
    }
    .visual .btn_wrap button.btn_next {
        background-image: url(../images/visual_prev.svg);
        transform: rotate(180deg);
    }
}/*@media*/


.biz {
    margin: 143px 0 130px 0;
}
.biz .wrapper {
    display: flex; /* tit-list 좌우 배치 */
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 100px 0;
}
.biz .tit {
    font-size: 40px;
    position: sticky;
    /* #wrap에 overflow : hidden; 적용 해놔서 sticky 작동 x */
    top: 146px;
}
.biz .list {
    width: 832px;
    /* padding: 0 0 110px 0; */ /* transform 빠져나간 것 커버 */
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 여러줄 허용 */
    gap: 24px 24px; /* 위아래 - 좌우 */
}
.biz .list ul li {
    width: calc(50% - 12px);
    /* 100 / 한줄에 나오는 li의 갯수 = 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 24/2 = 12 */
}
.biz .list ul li:nth-child(odd) {
    transform: translateY(130px);
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 504px;
    border-radius: 20px;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #004289;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 40px;
    width: calc(100% - 80px);
    bottom: -33px;
    color: #fff;
    transition: 0.5s;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
}
.biz .list ul li a .txt p {
    opacity: 0;
    margin: 8px 0 0 0;
    color: #fff;
    transition: 0.5s;
}

@media screen and (min-width:769px) { /* 769이상에서 */
    /* a의 오버 스타일 */
    .biz .list ul li a:hover .photo::before {
        opacity: 0.8
    }
    .biz .list ul li a:hover .txt {
        bottom: 54px;
    }
    .biz .list ul li a:hover .txt p {
        opacity: 1;
    }
}/* @media */
@media screen and (max-width:768px){ /* 768(포함)이하에서 */
    .biz {
        margin: 82px 0 0 0;
    }
    .biz .wrapper {
        display: block; /* flex -> block */
    }
    .biz .tit {
        position: relative; /* sticky -> relative */
        top: auto;
        margin: 0 0 24px 0;
    }
    .biz .tit h2 br {
        display: none;
    }
    .biz .list {
        width: auto;
        /* padding: 0 0 110px 0; */ /* transform 빠져나간 것 커버 */
    }
    .biz .list ul {
        display: flex;
        flex-wrap: nowrap; /* 한 줄 허용 */
        flex-direction: column;
        gap: 0;
    }
    .biz .list ul li {
        width: auto; /* ??? */
        border-top: 1px solid rgba(102, 102, 102, 0.2);
    }
    .biz .list ul li:last-child {
        border-bottom: 1px solid rgba(102, 102, 102, 0.2);
    }
    .biz .list ul li:nth-child(odd) {
        transform: translateY(0);
    }
    .biz .list ul li a {
        position: relative; /* before 정렬의 기준 */
    }
    .biz .list ul li a::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 2px;
        width: 18px;
        height: 18px;
        background: url(../images/biz_more.svg) no-repeat center center;
    }
    .biz .list ul li a .photo {
        display: none;
    }
    .biz .list ul li a .txt {
        position: relative; /* absolute -> relative */
        left: auto;
        width: auto;
        bottom: auto;
        color: #1d1d1d;
    }
    .biz .list ul li a .txt h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 16px 0 16px 0;
    }
    .biz .list ul li a .txt h3 br {
        display: none;
    }
    .biz .list ul li a .txt p {
        display: none;
    }
} /* @media */

.notice {
    margin: 90px 0 0 0;
    background-color: #F3F6F9;
    padding: 143px 0 160px 0;
}
.notice .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.notice .tit h2 {
    font-size: 40px;
}
.notice .list {
    margin: 32px 0 0 0;
}
.notice .list ul li {
    margin: 0 0 12px 0;
}
.notice .list ul li:last-child {
    margin-bottom: 0; /* 하단 여백만 0처리 */
}
.notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.1);
    padding: 21px 48px 21px 24px;
}
.notice .list ul li a .inner {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0 18px;
    width: calc(100% - 217px);
}
.notice .list ul li a .inner h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list ul li a .inner strong {
    display: block;
    padding: 6px 16px 2px 16px;
    background-color: #009FE3;
    border-radius: 10px;
    color: #fff;
}
.notice .list ul li.cate_sch a .inner strong {
    background-color: #223A5C;
}
.notice .list ul li a span {
    font-size: 22px;
    color: rgba(29, 29, 29, 0.8);
}
/* 오버스타일 */
.notice .list ul li a:hover {
    background-color: #223A5C;
    color: #fff;
}
.notice .list ul li a:hover strong {
    background-color: #fff;
    color: #223A5C;
}
.notice .list ul li.cate_sch a:hover .inner strong {
    background-color: #fff;
}
.notice .list ul li a:hover span {
    color: rgba(255, 255, 255, 0.8);
}
.notice .more {
    position: absolute; /* wrapper를 기준으로 */
    right: 48px;
    top: 52px;
}
.notice .more a {
    display: block;
    padding: 0 0 0 29px;
}
.notice .more a::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 9px;
    top: 6px;
    width: 14px;
    height: 14px;
    background: url(../images/notice_more.svg) no-repeat center center;
    transition: 0.3s;
}
.notice .more a:hover::before {
    transform: rotate(45deg);
}
@media screen and (max-width:768px){
    .notice {
        margin: 62px 0 0 0;
        padding: 72px 0 72px 0;
    }
    .notice .tit {
        width: calc(100% - 57px); /* 오른쪽 more를 둘 자리 확보 */
    }
     .notice .tit h2 {
        font-size: 28px;
    }
    .notice .list {
        margin: 24px 0 0 0;
    }
    .notice .list ul li {
        margin: 0 0 16px 0;
    }
    .notice .list ul li:nth-last-child(2),
    .notice .list ul li:last-child {
        display: none;
    }
    .notice .list ul li a {
        display: block;
        background-color: #fff;
        border-radius: 10px;
        padding: 16px 16px 16px 16px;
    }
    .notice .list ul li a .inner {
        display: block;
        font-size: 16px;
        width: auto;
    }
    .notice .list ul li a .inner h3 {
        margin: 12px 0 0 0;
    }
    .notice .list ul li a .inner strong {
        display: inline-block;
        padding: 7px 8px 2px 8px;
        background-color: #009FE3;
        border-radius: 10px;
    }
    .notice .list ul li a span {
        font-size: 16px;
    }
    /* 오버스타일 */
    .notice .list ul li a:hover {
        background-color: #223A5C;
        color: #fff;
    }
    .notice .list ul li a:hover strong {
        background-color: #fff;
        color: #223A5C;
    }
    .notice .list ul li.cate_sch a:hover .inner strong {
        background-color: #fff;
    }
    .notice .list ul li a:hover span {
        color: rgba(255, 255, 255, 0.8);
    }
    .notice .more {
        right: 14px; /* ??? */
        top: 34px;   /* ??? */
    }
    .notice .more a {
        width: 24px;
        height: 24px;
        padding: 0 0 0 0;
    }
    .notice .more a::before {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    .notice .more a span {
        display: none;
    }
}/* @media */


.webzine {
    margin: 143px 0 0 0;
    padding: 0 0 20px 0;
    overflow: hidden;
    position: relative; /* more 정렬의 기준 */
}
.webzine .tit h2 {
    font-size: 40px;
    margin: 3px 0 0 0;
}
.webzine .list {
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    margin: 32px 0 0 0;
    /* width: 1260px;
    margin: 52px auto 0 auto; */
}
.webzine .list .swiper {
    overflow: visible;
    margin: 0 24px 0 0;
}
.webzine .list .swiper-slide {
    width: 404px;
}
.webzine .list .swiper-slide a {
    display: block;
    background-color: #F3F6F9;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 545px;
    transition: 0.5s;
}
.webzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 280px;
    border-radius: 20px 20px 0 0;
}
.webzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.webzine .list .swiper-slide a .txt {
    margin: 24px 40px 0 40px;
}
.webzine .list .swiper-slide a .txt .cate {
    color: #004289;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzine .list .swiper-slide a .txt h3 {
    font-size: 24px;
    margin: 8px 0 8px 0;
    /* 2줄 제한 */
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
    /* 글자 뒤에 ... 추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt p {
     /* 3줄 제한 */
     line-height: 1.5;
     height: 4.5em;
     overflow: hidden;
     /* 글자 뒤에 ... 추가 */
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
}
.webzine .list .swiper-slide a .txt .date {
    color: rgba(29, 29, 29, 0.8);
    margin: 8px 0 0 0;
}
.webzine .more {
    position: absolute; /* webzine을 기준으로 정렬 */
    right: calc(50% - 582px);
    top: 39px;
}
.webzine .more a {
    display: block;
}
.webzine .more a::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: -20px;
    top: 7px;
    width: 14px;
    height: 14px;
    background: url(../images/notice_more.svg) no-repeat center center;
    transition: 0.3s;
}
.webzine .more a:hover::before {
    transform: rotate(45deg);
}
/* 오버스타일 */

.webzine .list .swiper-slide:hover a {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    transform: translate(0, -20px);
}
.webzine .list .swiper-slide:hover a .photo img {
    /* transform: scale3d(1.2, 1.2, 1); */
    /* 이미지 확대 */
}


@media screen and (max-width:768px){
    .webzine {
    margin: 72px 0 0 0;
    padding: 0 0 20px 0;
    }
    .webzine .tit h2 {
        font-size: 40px;
        margin: 3px 0 0 0;
    }
    .webzine .list {
        width: auto;
        position: relative;
        left: auto;
        margin: 24px 16px 0 16px;
        /* width: 1260px;
        margin: 52px auto 0 auto; */
    }
    .webzine .list .swiper {
        overflow: visible;
        margin: 0 24px 0 0;
    }
    .webzine .list .swiper-slide {
        width: 300px;
    }
    .webzine .list .swiper-slide a {
        border-radius: 10px;
        height: 377px;
        transition: 0.5s;
    }
    .webzine .list .swiper-slide a .photo {
        height: 165px;
        border-radius: 10px 10px 0 0;
    }
    .webzine .list .swiper-slide a .txt {
        margin: 11px 16px 0 16px;
    }
    .webzine .list .swiper-slide a .txt p {
        /* 2줄 제한 */
        line-height: 1.5;
        height: 3.0em;
        /* 글자 뒤에 ... 추가 */
        -webkit-line-clamp: 2;
    }
    .webzine .more {
        right: 16px;
        top: 39px;
    }
    .webzine .more a {
        width: 24px;
        height: 24px;
        padding: 0 0 0 0;
    }
    .webzine .more a::before {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    .webzine .more a span {
        display: none;
    }
}/* @media */

.service {
    margin: 215px 0 0 0
}
.service h2 {
    font-size: 40px;
    margin: 3px 0 0 0;
}
.service .list {
    margin: 32px 0 0 0;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*  100 / 한 줄에 들어가는 li의 갯수 = 100 / 3 = 33.33% 
        한 줄 여백의 합 / 한줄에 들어가는 li의 갯수 = 48 / 3 = 16 */
}
.service .list ul li a {
    display: block;
    padding: 35px 107px 41px 40px;
    font-size: 24px;
    background-color: #004289;
    color: #fff;
    border-radius: 20px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.3s;
}
.service .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 40px;
    top: 77px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff url(../images/service_more.svg) no-repeat center center;
}
.service .list ul li a h3 {
    font-size: 24px;
    margin: 8px;
}
/* 오버스타일 */
.service .list ul li:hover a {
    background-color: #009FE3;
    transform: translate(0, -20px);
}
.service .list ul li:hover a::after {
    background-image: url(../images/service_more_over.svg);
}
@media screen and (max-width:768px){
    .service {
        margin: 72px 0 0 0
    }
    .service h2 {
        font-size: 28px;
        margin: 4px 0 0 0;
    }
    .service .list {
        margin: 16px 0 0 0;
    }
    .service .list ul {
        flex-direction: column;
        gap: 16px 0;
    }
    .service .list ul li {
        width: auto;
        /*  100 / 한 줄에 들어가는 li의 갯수 = 100 / 3 = 33.33% 
            한 줄 여백의 합 / 한줄에 들어가는 li의 갯수 = 48 / 3 = 16 */
        border-bottom: 1px solid rgba(102, 102, 102, 0.2);
        padding: 0 0 8px 0;
    }
    .service .list ul li:last-child {
        border-bottom: none;
    }
    .service .list ul li a {
        display: block;
        padding: 0 16px 10px 16px;
        background-color: transparent;
        color: #1d1d1d;
        border-radius: 0;
    }
    .service .list ul li a::after {
        right: 14px;
        top: 52px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #fff url(../images/biz_more.svg) no-repeat center center;
    }
    .service .list ul li a strong {
        font-size: 16px;
    }
    .service .list ul li a h3 {
        margin: 5px 0 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* 오버스타일 */
    .service .list ul li:hover a {
        background-color: #009FE3;
        transform: translate(0, -20px);
    }
    .service .list ul li:hover a::after {
        background-image: url(../images/service_more_over.svg);
    }   
}

footer {    
    margin: 165px 0 0 0;
    padding: 51px 0 52px 0;
    background-color: #F3F6F9;
    color: #666;
}
footer .wrapper {
    position: relative; /* top 정렬의 기준*/
}
footer .top {
    position: absolute;
    right: 40px;
    top: 0;
    width: 32px;
    height: 32px;
    background-color: #004289;
    border-radius: 50%;
}
footer .top span {
    display: none;
}
footer .top::before {
    content: "";
    position: absolute; /* top을 기준으로 정렬 */
    left: 7px;
    top: 8px;
    width: 17px;
    height: 17px;
    background: url(../images/top.svg) no-repeat center center;
}
footer .top:hover {
    background-color: #009FE3;
}
footer .f_nav ul {
    display: flex;
    gap: 0 47px;
    flex-wrap: wrap;
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li.edu {
    font-weight: 700;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    right: -26px;
    top: 7px;
    width: 1px;
    height: 12px;
    background-color: rgba(102, 102, 102, 0.2);
}
footer .f_nav ul li:last-child::after {
    display: none; /* 숨김 */
}
footer .f_nav ul li a:hover {
    text-decoration: underline;
}
footer .f_info {
    margin: 8px 0 8px 0;
    display: flex;
    flex-wrap: wrap; /* 여러 줄 허용 */
    gap: 5 45px;
}
footer .copyright {
    color: rgba(102, 102, 102, 0.8);
}
@media screen and (max-width:768px){
    footer {    
    margin: 52px 0 0 0;
    padding: 36px 0 0 0;
    font-size: 12px;
    }
    footer .top {
        right: 14px;
        top: -25px;
        width: 20px;
        height: 20px;
    }
    footer .top::before {
        left: 5px;
        top: 5px;
        width: 11px;
        height: 11px;
        background: url(../images/top_mo.svg) no-repeat center center;
    }
    footer .f_nav {
        margin: 20px 0 0 0;
    }    
} /* @media */