@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup01 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup02 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup03 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 12px 0;
}
.visual .swiper-slide p {
    font-size: 24px;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px);
    top: calc(50% + 145px);
    z-index: 1;
    display: flex;
    gap: 0 12px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_prev.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_prev.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        /* align-items: flex-end; */
    }
    .visual .swiper-slide h3 {
        font-size: 44px;
        margin: 33vh 0 0 0;
    }
    .visual .swiper-slide h3 br {
        display: none;
    }
    .visual .swiper-slide p {
        display: none;
    }
    .visual .btn_wrap {
        left: 50%; /* 정렬의 기준 visual 넓이의 50% */
        transform: translateX(-50%); /* 나 자신 btn_wrap 넓이의 절반을 왼쪽으로 이동 */
        top: auto; /* pc버전에서 top을 줬다가 모바일에서 bottom으로 변경 시 top : auto, bottom : 값 */
        bottom: 17px;
    }
    .visual .btn_wrap button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .visual .btn_wrap button.btn_prev {
        background-image: url(../images/visual_prev.svg);
    }
    .visual .btn_wrap button.btn_play {
        background-image: url(../images/visual_play.svg);
    }
    .visual .btn_wrap button.btn_stop {
        background-image: url(../images/visual_stop.svg);
    }
    .visual .btn_wrap button.btn_next {
        background-image: url(../images/visual_prev.svg);
        transform: rotate(180deg);
    }
}/*@media*/

footer {
    margin: 500px 0 0 0;
}