@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual .swiper-slide {
    height: 100vh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup01 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup02 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup03 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 12px 0;
}
.visual .swiper-slide p {
    font-size: 24px;
}

footer {
    margin: 500px 0 0 0;
}