/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-12-03
* 설  명 : header/footer 스타일을 선언함
*********************/

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    padding: 0 var(--wrapper-margin);
    color: #fff;
}
header .logo a {
    display: block;
    width: 150px;
    height: 60px;
    background: url(../images/common/logo.svg)  no-repeat center center / contain;
    margin-top: clamp(16px, 1.9vw, 25px);
}
header .gnb ul.depth1 {
    display: flex;
    font-family: "Suit";
}
header .gnb ul.depth1 li a {
    display: block;
    line-height: var(--header-h);
    font-size: clamp(1.6rem, 1.6vw ,2.2rem);
    padding: 0 31px 0 31px;  
}
header .gnb ul.depth1 > li > ul.depth2 {
    display: none;
}
header .gnb_lang {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .gnb_lang .gnb_lang_open {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 77px;
    height: 35px;
}
header .gnb_lang .gnb_lang_open span {
    font-size: clamp(1.6rem, 1.6vw, 2.2rem);
}
header .gnb_lang .gnb_lang_open i {
    position: absolute;
    left: 5px;
    top: 8px;
    display: block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.62895 20 7.33509 19.7372 6.11842 19.2116C4.90175 18.686 3.8407 17.9704 2.93526 17.0647C2.02965 16.1593 1.31404 15.0982 0.788421 13.8816C0.262807 12.6649 0 11.3711 0 10C0 8.61807 0.262807 7.32149 0.788421 6.11026C1.31404 4.89903 2.02965 3.8407 2.93526 2.93526C3.8407 2.02965 4.90175 1.31404 6.11842 0.788422C7.33509 0.262808 8.62895 0 10 0C11.3819 0 12.6785 0.262808 13.8897 0.788422C15.101 1.31404 16.1593 2.02965 17.0647 2.93526C17.9704 3.8407 18.686 4.89903 19.2116 6.11026C19.7372 7.32149 20 8.61807 20 10C20 11.3711 19.7372 12.6649 19.2116 13.8816C18.686 15.0982 17.9704 16.1593 17.0647 17.0647C16.1593 17.9704 15.101 18.686 13.8897 19.2116C12.6785 19.7372 11.3819 20 10 20ZM10 18.3987C10.5372 17.6862 10.9893 16.9676 11.3563 16.2429C11.7233 15.5182 12.0223 14.726 12.2532 13.8663H7.74684C7.99123 14.753 8.2936 15.5587 8.65395 16.2834C9.01412 17.0082 9.46281 17.7132 10 18.3987ZM7.96158 18.1092C7.55807 17.5303 7.1957 16.8721 6.87447 16.1347C6.55325 15.3972 6.3036 14.6411 6.12553 13.8663H2.55474C3.1107 14.9595 3.85632 15.8779 4.79158 16.6216C5.72684 17.3651 6.78351 17.861 7.96158 18.1092ZM12.0384 18.1092C13.2165 17.861 14.2732 17.3651 15.2084 16.6216C16.1437 15.8779 16.8893 14.9595 17.4453 13.8663H13.8745C13.6625 14.6477 13.396 15.4072 13.0747 16.1447C12.7537 16.8823 12.4082 17.5371 12.0384 18.1092ZM1.89263 12.2874H5.80579C5.73965 11.8961 5.69167 11.5125 5.66184 11.1366C5.63219 10.7608 5.61737 10.3819 5.61737 10C5.61737 9.61807 5.63219 9.23921 5.66184 8.86342C5.69167 8.48746 5.73965 8.10386 5.80579 7.71263H1.89263C1.7914 8.07018 1.71386 8.44193 1.66 8.8279C1.60597 9.21386 1.57895 9.60456 1.57895 10C1.57895 10.3954 1.60597 10.7861 1.66 11.1721C1.71386 11.5581 1.7914 11.9298 1.89263 12.2874ZM7.38447 12.2874H12.6155C12.6815 11.8961 12.7294 11.516 12.7592 11.1468C12.7889 10.7777 12.8037 10.3954 12.8037 10C12.8037 9.60456 12.7889 9.22228 12.7592 8.85316C12.7294 8.48403 12.6815 8.10386 12.6155 7.71263H7.38447C7.31851 8.10386 7.27061 8.48403 7.24079 8.85316C7.21114 9.22228 7.19632 9.60456 7.19632 10C7.19632 10.3954 7.21114 10.7777 7.24079 11.1468C7.27061 11.516 7.31851 11.8961 7.38447 12.2874ZM14.1942 12.2874H18.1074C18.2086 11.9298 18.2861 11.5581 18.34 11.1721C18.394 10.7861 18.4211 10.3954 18.4211 10C18.4211 9.60456 18.394 9.21386 18.34 8.8279C18.2861 8.44193 18.2086 8.07018 18.1074 7.71263H14.1942C14.2604 8.10386 14.3083 8.48746 14.3382 8.86342C14.3678 9.23921 14.3826 9.61807 14.3826 10C14.3826 10.3819 14.3678 10.7608 14.3382 11.1366C14.3083 11.5125 14.2604 11.8961 14.1942 12.2874ZM13.8745 6.13369H17.4453C16.8826 5.02702 16.1421 4.1086 15.2237 3.37842C14.3053 2.64842 13.2435 2.14912 12.0384 1.88053C12.4419 2.49316 12.8009 3.16325 13.1153 3.89079C13.4298 4.61816 13.6829 5.36579 13.8745 6.13369ZM7.74684 6.13369H12.2532C12.0088 5.25368 11.7014 4.4429 11.3311 3.70132C10.9605 2.95974 10.5168 2.25974 10 1.60132C9.48316 2.25974 9.03947 2.95974 8.66895 3.70132C8.2986 4.4429 7.99123 5.25368 7.74684 6.13369ZM2.55474 6.13369H6.12553C6.31711 5.36579 6.57018 4.61816 6.88474 3.89079C7.19912 3.16325 7.55807 2.49316 7.96158 1.88053C6.74965 2.14912 5.68623 2.65018 4.77132 3.38368C3.85623 4.11702 3.11737 5.03369 2.55474 6.13369Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){ /* 1024보다 작을 때  */
    header .gnb ul.depth1 {
        display: none
    }
    header .gnb_lang {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .gnb_lang .gnb_lang_open {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 77px;
        height: 35px;
    }
    header .gnb_lang .gnb_lang_open span {
        display: none;
    }
}

footer {
    margin: clamp(7.1rem, 8.8vw, 17.1rem) 0 0 0;
    padding-bottom: clamp(2.9rem, 4.8vw, 9.2rem);
    background-color: #1c1c1c;
    color: #fff;
    position: relative;
}
footer .wrapper {
    display: flex;
}
footer .family_site {
    position: absolute;
    top: 0;
    right: 0;
}
footer .top {
    position: absolute;
    top: 0;
    right: 0;
}