@font-face {
    font-family: 'LaundryGothic';
    src: url('../fonts/TTLaundryGothicR.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'LaundryGothic';
    src: url('../fonts/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}