/***********************
* 파일명 : layout.css 
* 작성자 : 이수형
* 작성일 : 25-10-23
* 설  명 : header/footer 스타일을 선언함
*********************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 높이의 위아래 가운데 */
    padding: 0 var(--wrapper-margin);
    transition: transform 0.5s;
}
header .logo a {
    display: block;
    width: 109px;
    height: 36px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin-bottom: 15px;
}
header .util .lang {
    display: block;
    padding-left: 1.4706em; /* 아이콘이 들어갈 여백 */
    position: relative; /* before 정렬의 기준 */
}
header .util .lang::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.14em;
    width: 1.0294em;
    height: 1.0294em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 17.5C7.55417 17.5 6.42396 17.2703 5.35938 16.8109C4.29479 16.3516 3.3651 15.7245 2.57031 14.9297C1.77552 14.1349 1.14844 13.2052 0.689063 12.1406C0.229687 11.076 0 9.94583 0 8.75C0 7.53958 0.229687 6.40573 0.689063 5.34844C1.14844 4.29115 1.77552 3.3651 2.57031 2.57031C3.3651 1.77552 4.29479 1.14844 5.35938 0.689063C6.42396 0.229687 7.55417 0 8.75 0C9.96042 0 11.0943 0.229687 12.1516 0.689063C13.2089 1.14844 14.1349 1.77552 14.9297 2.57031C15.7245 3.3651 16.3516 4.29115 16.8109 5.34844C17.2703 6.40573 17.5 7.53958 17.5 8.75C17.5 9.94583 17.2703 11.076 16.8109 12.1406C16.3516 13.2052 15.7245 14.1349 14.9297 14.9297C14.1349 15.7245 13.2089 16.3516 12.1516 16.8109C11.0943 17.2703 9.96042 17.5 8.75 17.5ZM8.75 15.7063C9.12917 15.1813 9.45729 14.6344 9.73438 14.0656C10.0115 13.4969 10.2375 12.8917 10.4125 12.25H7.0875C7.2625 12.8917 7.48854 13.4969 7.76562 14.0656C8.04271 14.6344 8.37083 15.1813 8.75 15.7063ZM6.475 15.3563C6.2125 14.875 5.98281 14.3755 5.78594 13.8578C5.58906 13.3401 5.425 12.8042 5.29375 12.25H2.7125C3.13542 12.9792 3.66406 13.6135 4.29844 14.1531C4.93281 14.6927 5.65833 15.0938 6.475 15.3563ZM11.025 15.3563C11.8417 15.0938 12.5672 14.6927 13.2016 14.1531C13.8359 13.6135 14.3646 12.9792 14.7875 12.25H12.2063C12.075 12.8042 11.9109 13.3401 11.7141 13.8578C11.5172 14.3755 11.2875 14.875 11.025 15.3563ZM1.96875 10.5H4.94375C4.9 10.2083 4.86719 9.92031 4.84531 9.63594C4.82344 9.35156 4.8125 9.05625 4.8125 8.75C4.8125 8.44375 4.82344 8.14844 4.84531 7.86406C4.86719 7.57969 4.9 7.29167 4.94375 7H1.96875C1.89583 7.29167 1.84115 7.57969 1.80469 7.86406C1.76823 8.14844 1.75 8.44375 1.75 8.75C1.75 9.05625 1.76823 9.35156 1.80469 9.63594C1.84115 9.92031 1.89583 10.2083 1.96875 10.5ZM6.69375 10.5H10.8063C10.85 10.2083 10.8828 9.92031 10.9047 9.63594C10.9266 9.35156 10.9375 9.05625 10.9375 8.75C10.9375 8.44375 10.9266 8.14844 10.9047 7.86406C10.8828 7.57969 10.85 7.29167 10.8063 7H6.69375C6.65 7.29167 6.61719 7.57969 6.59531 7.86406C6.57344 8.14844 6.5625 8.44375 6.5625 8.75C6.5625 9.05625 6.57344 9.35156 6.59531 9.63594C6.61719 9.92031 6.65 10.2083 6.69375 10.5ZM12.5563 10.5H15.5312C15.6042 10.2083 15.6589 9.92031 15.6953 9.63594C15.7318 9.35156 15.75 9.05625 15.75 8.75C15.75 8.44375 15.7318 8.14844 15.6953 7.86406C15.6589 7.57969 15.6042 7.29167 15.5312 7H12.5563C12.6 7.29167 12.6328 7.57969 12.6547 7.86406C12.6766 8.14844 12.6875 8.44375 12.6875 8.75C12.6875 9.05625 12.6766 9.35156 12.6547 9.63594C12.6328 9.92031 12.6 10.2083 12.5563 10.5ZM12.2063 5.25H14.7875C14.3646 4.52083 13.8359 3.88646 13.2016 3.34687C12.5672 2.80729 11.8417 2.40625 11.025 2.14375C11.2875 2.625 11.5172 3.12448 11.7141 3.64219C11.9109 4.1599 12.075 4.69583 12.2063 5.25ZM7.0875 5.25H10.4125C10.2375 4.60833 10.0115 4.00313 9.73438 3.43438C9.45729 2.86562 9.12917 2.31875 8.75 1.79375C8.37083 2.31875 8.04271 2.86562 7.76562 3.43438C7.48854 4.00313 7.2625 4.60833 7.0875 5.25ZM2.7125 5.25H5.29375C5.425 4.69583 5.58906 4.1599 5.78594 3.64219C5.98281 3.12448 6.2125 2.625 6.475 2.14375C5.65833 2.40625 4.93281 2.80729 4.29844 3.34687C3.66406 3.88646 3.13542 4.52083 2.7125 5.25Z' /%3E%3C/svg%3E%0A");
}
/* header 고정 */
header.fixed {
    color: var(--color-basic);
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 17.5C7.55417 17.5 6.42396 17.2703 5.35938 16.8109C4.29479 16.3516 3.3651 15.7245 2.57031 14.9297C1.77552 14.1349 1.14844 13.2052 0.689063 12.1406C0.229687 11.076 0 9.94583 0 8.75C0 7.53958 0.229687 6.40573 0.689063 5.34844C1.14844 4.29115 1.77552 3.3651 2.57031 2.57031C3.3651 1.77552 4.29479 1.14844 5.35938 0.689063C6.42396 0.229687 7.55417 0 8.75 0C9.96042 0 11.0943 0.229687 12.1516 0.689063C13.2089 1.14844 14.1349 1.77552 14.9297 2.57031C15.7245 3.3651 16.3516 4.29115 16.8109 5.34844C17.2703 6.40573 17.5 7.53958 17.5 8.75C17.5 9.94583 17.2703 11.076 16.8109 12.1406C16.3516 13.2052 15.7245 14.1349 14.9297 14.9297C14.1349 15.7245 13.2089 16.3516 12.1516 16.8109C11.0943 17.2703 9.96042 17.5 8.75 17.5ZM8.75 15.7063C9.12917 15.1813 9.45729 14.6344 9.73438 14.0656C10.0115 13.4969 10.2375 12.8917 10.4125 12.25H7.0875C7.2625 12.8917 7.48854 13.4969 7.76562 14.0656C8.04271 14.6344 8.37083 15.1813 8.75 15.7063ZM6.475 15.3563C6.2125 14.875 5.98281 14.3755 5.78594 13.8578C5.58906 13.3401 5.425 12.8042 5.29375 12.25H2.7125C3.13542 12.9792 3.66406 13.6135 4.29844 14.1531C4.93281 14.6927 5.65833 15.0938 6.475 15.3563ZM11.025 15.3563C11.8417 15.0938 12.5672 14.6927 13.2016 14.1531C13.8359 13.6135 14.3646 12.9792 14.7875 12.25H12.2063C12.075 12.8042 11.9109 13.3401 11.7141 13.8578C11.5172 14.3755 11.2875 14.875 11.025 15.3563ZM1.96875 10.5H4.94375C4.9 10.2083 4.86719 9.92031 4.84531 9.63594C4.82344 9.35156 4.8125 9.05625 4.8125 8.75C4.8125 8.44375 4.82344 8.14844 4.84531 7.86406C4.86719 7.57969 4.9 7.29167 4.94375 7H1.96875C1.89583 7.29167 1.84115 7.57969 1.80469 7.86406C1.76823 8.14844 1.75 8.44375 1.75 8.75C1.75 9.05625 1.76823 9.35156 1.80469 9.63594C1.84115 9.92031 1.89583 10.2083 1.96875 10.5ZM6.69375 10.5H10.8063C10.85 10.2083 10.8828 9.92031 10.9047 9.63594C10.9266 9.35156 10.9375 9.05625 10.9375 8.75C10.9375 8.44375 10.9266 8.14844 10.9047 7.86406C10.8828 7.57969 10.85 7.29167 10.8063 7H6.69375C6.65 7.29167 6.61719 7.57969 6.59531 7.86406C6.57344 8.14844 6.5625 8.44375 6.5625 8.75C6.5625 9.05625 6.57344 9.35156 6.59531 9.63594C6.61719 9.92031 6.65 10.2083 6.69375 10.5ZM12.5563 10.5H15.5312C15.6042 10.2083 15.6589 9.92031 15.6953 9.63594C15.7318 9.35156 15.75 9.05625 15.75 8.75C15.75 8.44375 15.7318 8.14844 15.6953 7.86406C15.6589 7.57969 15.6042 7.29167 15.5312 7H12.5563C12.6 7.29167 12.6328 7.57969 12.6547 7.86406C12.6766 8.14844 12.6875 8.44375 12.6875 8.75C12.6875 9.05625 12.6766 9.35156 12.6547 9.63594C12.6328 9.92031 12.6 10.2083 12.5563 10.5ZM12.2063 5.25H14.7875C14.3646 4.52083 13.8359 3.88646 13.2016 3.34687C12.5672 2.80729 11.8417 2.40625 11.025 2.14375C11.2875 2.625 11.5172 3.12448 11.7141 3.64219C11.9109 4.1599 12.075 4.69583 12.2063 5.25ZM7.0875 5.25H10.4125C10.2375 4.60833 10.0115 4.00313 9.73438 3.43438C9.45729 2.86562 9.12917 2.31875 8.75 1.79375C8.37083 2.31875 8.04271 2.86562 7.76562 3.43438C7.48854 4.00313 7.2625 4.60833 7.0875 5.25ZM2.7125 5.25H5.29375C5.425 4.69583 5.58906 4.1599 5.78594 3.64219C5.98281 3.12448 6.2125 2.625 6.475 2.14375C5.65833 2.40625 4.93281 2.80729 4.29844 3.34687C3.66406 3.88646 3.13542 4.52083 2.7125 5.25Z' /%3E%3C/svg%3E%0A");
}
/* 스크롤을 아래로 내릴때 header 올림 
    header에 menu_pc, menu_mo 있을때는 작동이 안됐으면 좋겠어요.
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
@media screen and (min-width:1025px){ /* 1025보다 클때 - pc버전  */
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일때만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* ul.depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: var(--header-h);
        padding: 0 1.8182em;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a > span {
        position: relative;/* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after,
    header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::after {
        content: "";
        position: absolute;
        right: -10px;
        top: -5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%; /* 정렬의 기준 li 넓이의 절반 */
        top: var(--header-h);
        transform: translateX(-50%); /* 나 자신의 넓이의 절반 */
        text-align: center;
        min-width: 100%; /* 최소넓이 - li의넓이를 꽉채우게 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 3px 0;
        color: var(--color-basic);
        white-space: nowrap; /* 줄바꿈 금지 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-main);
        font-weight: 700;
        text-decoration: underline;        
    }
    

    /********* menu_pc가 추가되었을때 (메뉴가 나타남) ************/
    header.menu_pc {
        color: var(--color-title);
    }
    header::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 0;
        background-color: #fff;
        transition: height 0.5s;
    }
    header.menu_pc::before {
        height: 350px;
    }
    header.menu_pc::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #EDEDED;
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .util .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 17.5C7.55417 17.5 6.42396 17.2703 5.35938 16.8109C4.29479 16.3516 3.3651 15.7245 2.57031 14.9297C1.77552 14.1349 1.14844 13.2052 0.689063 12.1406C0.229687 11.076 0 9.94583 0 8.75C0 7.53958 0.229687 6.40573 0.689063 5.34844C1.14844 4.29115 1.77552 3.3651 2.57031 2.57031C3.3651 1.77552 4.29479 1.14844 5.35938 0.689063C6.42396 0.229687 7.55417 0 8.75 0C9.96042 0 11.0943 0.229687 12.1516 0.689063C13.2089 1.14844 14.1349 1.77552 14.9297 2.57031C15.7245 3.3651 16.3516 4.29115 16.8109 5.34844C17.2703 6.40573 17.5 7.53958 17.5 8.75C17.5 9.94583 17.2703 11.076 16.8109 12.1406C16.3516 13.2052 15.7245 14.1349 14.9297 14.9297C14.1349 15.7245 13.2089 16.3516 12.1516 16.8109C11.0943 17.2703 9.96042 17.5 8.75 17.5ZM8.75 15.7063C9.12917 15.1813 9.45729 14.6344 9.73438 14.0656C10.0115 13.4969 10.2375 12.8917 10.4125 12.25H7.0875C7.2625 12.8917 7.48854 13.4969 7.76562 14.0656C8.04271 14.6344 8.37083 15.1813 8.75 15.7063ZM6.475 15.3563C6.2125 14.875 5.98281 14.3755 5.78594 13.8578C5.58906 13.3401 5.425 12.8042 5.29375 12.25H2.7125C3.13542 12.9792 3.66406 13.6135 4.29844 14.1531C4.93281 14.6927 5.65833 15.0938 6.475 15.3563ZM11.025 15.3563C11.8417 15.0938 12.5672 14.6927 13.2016 14.1531C13.8359 13.6135 14.3646 12.9792 14.7875 12.25H12.2063C12.075 12.8042 11.9109 13.3401 11.7141 13.8578C11.5172 14.3755 11.2875 14.875 11.025 15.3563ZM1.96875 10.5H4.94375C4.9 10.2083 4.86719 9.92031 4.84531 9.63594C4.82344 9.35156 4.8125 9.05625 4.8125 8.75C4.8125 8.44375 4.82344 8.14844 4.84531 7.86406C4.86719 7.57969 4.9 7.29167 4.94375 7H1.96875C1.89583 7.29167 1.84115 7.57969 1.80469 7.86406C1.76823 8.14844 1.75 8.44375 1.75 8.75C1.75 9.05625 1.76823 9.35156 1.80469 9.63594C1.84115 9.92031 1.89583 10.2083 1.96875 10.5ZM6.69375 10.5H10.8063C10.85 10.2083 10.8828 9.92031 10.9047 9.63594C10.9266 9.35156 10.9375 9.05625 10.9375 8.75C10.9375 8.44375 10.9266 8.14844 10.9047 7.86406C10.8828 7.57969 10.85 7.29167 10.8063 7H6.69375C6.65 7.29167 6.61719 7.57969 6.59531 7.86406C6.57344 8.14844 6.5625 8.44375 6.5625 8.75C6.5625 9.05625 6.57344 9.35156 6.59531 9.63594C6.61719 9.92031 6.65 10.2083 6.69375 10.5ZM12.5563 10.5H15.5312C15.6042 10.2083 15.6589 9.92031 15.6953 9.63594C15.7318 9.35156 15.75 9.05625 15.75 8.75C15.75 8.44375 15.7318 8.14844 15.6953 7.86406C15.6589 7.57969 15.6042 7.29167 15.5312 7H12.5563C12.6 7.29167 12.6328 7.57969 12.6547 7.86406C12.6766 8.14844 12.6875 8.44375 12.6875 8.75C12.6875 9.05625 12.6766 9.35156 12.6547 9.63594C12.6328 9.92031 12.6 10.2083 12.5563 10.5ZM12.2063 5.25H14.7875C14.3646 4.52083 13.8359 3.88646 13.2016 3.34687C12.5672 2.80729 11.8417 2.40625 11.025 2.14375C11.2875 2.625 11.5172 3.12448 11.7141 3.64219C11.9109 4.1599 12.075 4.69583 12.2063 5.25ZM7.0875 5.25H10.4125C10.2375 4.60833 10.0115 4.00313 9.73438 3.43438C9.45729 2.86562 9.12917 2.31875 8.75 1.79375C8.37083 2.31875 8.04271 2.86562 7.76562 3.43438C7.48854 4.00313 7.2625 4.60833 7.0875 5.25ZM2.7125 5.25H5.29375C5.425 4.69583 5.58906 4.1599 5.78594 3.64219C5.98281 3.12448 6.2125 2.625 6.475 2.14375C5.65833 2.40625 4.93281 2.80729 4.29844 3.34687C3.66406 3.88646 3.13542 4.52083 2.7125 5.25Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        transition: height 0.5s;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        opacity: 1;
        height: 260px;
        padding-top: 20px;
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        z-index: -2;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: height 0s, opacity 0.5s;
    }
    header.menu_pc .gnb .gnb_bg {
        height: 100vh;
        opacity: 1;
    }
}/*@media*/
@media screen and (max-width:1280px) and (min-width:1025px){
    /*   1280 ~ 1024 사이 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 1.4em;
    }
}
@media screen and (max-width:1024px){
    header {
        padding-right: 0; /* 오른쪽 여백 삭제 */
    }
    header .logo a {
        width: 90px;
        height: 37px;
        margin-bottom: 3px;
    }
    header .util {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 25px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.125 2.25C0.80625 2.25 0.539062 2.14219 0.323437 1.92656C0.107812 1.71094 0 1.44375 0 1.125C0 0.80625 0.107812 0.539062 0.323437 0.323437C0.539062 0.107812 0.80625 0 1.125 0H19.125C19.4438 0 19.7109 0.107812 19.9266 0.323437C20.1422 0.539062 20.25 0.80625 20.25 1.125C20.25 1.44375 20.1422 1.71094 19.9266 1.92656C19.7109 2.14219 19.4438 2.25 19.125 2.25H1.125ZM1.125 15.75C0.80625 15.75 0.539062 15.6422 0.323437 15.4266C0.107812 15.2109 0 14.9438 0 14.625C0 14.3062 0.107812 14.0391 0.323437 13.8234C0.539062 13.6078 0.80625 13.5 1.125 13.5H19.125C19.4438 13.5 19.7109 13.6078 19.9266 13.8234C20.1422 14.0391 20.25 14.3062 20.25 14.625C20.25 14.9438 20.1422 15.2109 19.9266 15.4266C19.7109 15.6422 19.4438 15.75 19.125 15.75H1.125ZM1.125 9C0.80625 9 0.539062 8.89219 0.323437 8.67656C0.107812 8.46094 0 8.19375 0 7.875C0 7.55625 0.107812 7.28906 0.323437 7.07344C0.539062 6.85781 0.80625 6.75 1.125 6.75H19.125C19.4438 6.75 19.7109 6.85781 19.9266 7.07344C20.1422 7.28906 20.25 7.55625 20.25 7.875C20.25 8.19375 20.1422 8.46094 19.9266 8.67656C19.7109 8.89219 19.4438 9 19.125 9H1.125Z' /%3E%3C/svg%3E%0A");
    }
    header.fixed .gnb .gnb_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 16' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.125 2.25C0.80625 2.25 0.539062 2.14219 0.323437 1.92656C0.107812 1.71094 0 1.44375 0 1.125C0 0.80625 0.107812 0.539062 0.323437 0.323437C0.539062 0.107812 0.80625 0 1.125 0H19.125C19.4438 0 19.7109 0.107812 19.9266 0.323437C20.1422 0.539062 20.25 0.80625 20.25 1.125C20.25 1.44375 20.1422 1.71094 19.9266 1.92656C19.7109 2.14219 19.4438 2.25 19.125 2.25H1.125ZM1.125 15.75C0.80625 15.75 0.539062 15.6422 0.323437 15.4266C0.107812 15.2109 0 14.9438 0 14.625C0 14.3062 0.107812 14.0391 0.323437 13.8234C0.539062 13.6078 0.80625 13.5 1.125 13.5H19.125C19.4438 13.5 19.7109 13.6078 19.9266 13.8234C20.1422 14.0391 20.25 14.3062 20.25 14.625C20.25 14.9438 20.1422 15.2109 19.9266 15.4266C19.7109 15.6422 19.4438 15.75 19.125 15.75H1.125ZM1.125 9C0.80625 9 0.539062 8.89219 0.323437 8.67656C0.107812 8.46094 0 8.19375 0 7.875C0 7.55625 0.107812 7.28906 0.323437 7.07344C0.539062 6.85781 0.80625 6.75 1.125 6.75H19.125C19.4438 6.75 19.7109 6.85781 19.9266 7.07344C20.1422 7.28906 20.25 7.55625 20.25 7.875C20.25 8.19375 20.1422 8.46094 19.9266 8.67656C19.7109 8.89219 19.4438 9 19.125 9H1.125Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header를 기준으로 정렬 */
        right: -71%;
        top: 0;
        z-index: 10;
        height: 100dvh;
        background-color: #fff;
        color: var(--color-basic);
        width: 70%;
        transition: right 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /*gnb_wrap을 기준으로 정렬*/
        left: var(--wrapper-margin);
        top: 0;
        width: 75px;
        height: calc(var(--header-h) - 10px);
        background: url(../images/common/logo.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        padding-top: 27px;
        border-top: 1px solid #EDEDED;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 15px 0 15px var(--wrapper-margin);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3;
        position: relative; /* before/after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before,
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;
        right: var(--wrapper-margin);
        top: 50%;
        width: 13px;
        height: 1px;
        background-color: var(--color-basic);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        transform: rotate(90deg);
        transition: transform 0.5s;
    }
    /* 시작: open 클래스가 들어갔을때  */
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::before,
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(0);
    }
    /* 끝: open 클래스가 들어갔을때  */
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        margin: 11px 0 17px 0;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        color: var(--color-basic);
        padding: 3px 0 3px calc(var(--wrapper-margin) * 2);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 14.79px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39688 8.97188L1.88438 14.4844C1.67813 14.6906 1.41562 14.7938 1.09688 14.7938C0.778125 14.7938 0.515625 14.6906 0.309375 14.4844C0.103125 14.2781 0 14.0156 0 13.6969C0 13.3781 0.103125 13.1156 0.309375 12.9094L5.82188 7.39688L0.309375 1.88438C0.103125 1.67813 0 1.41562 0 1.09688C0 0.778125 0.103125 0.515625 0.309375 0.309375C0.515625 0.103125 0.778125 0 1.09688 0C1.41562 0 1.67813 0.103125 1.88438 0.309375L7.39688 5.82188L12.9094 0.309375C13.1156 0.103125 13.3781 0 13.6969 0C14.0156 0 14.2781 0.103125 14.4844 0.309375C14.6906 0.515625 14.7938 0.778125 14.7938 1.09688C14.7938 1.41562 14.6906 1.67813 14.4844 1.88438L8.97188 7.39688L14.4844 12.9094C14.6906 13.1156 14.7938 13.3781 14.7938 13.6969C14.7938 14.0156 14.6906 14.2781 14.4844 14.4844C14.2781 14.6906 14.0156 14.7938 13.6969 14.7938C13.3781 14.7938 13.1156 14.6906 12.9094 14.4844L7.39688 8.97188Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header를 기준으로 정렬 */
        right: -101%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: right 0s, opacity 0.5s;
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }
}/*@media*/
@media screen and (max-width:768px){
    header .logo a {
        width: 75px;
        height: 25px;
        margin-bottom: 5px;
    }
    header .gnb .gnb_open {
        background-size: 20.25px;
    }
}/*@media*/


/* 시작 :: 서브에서 이미 선택되있는 메뉴 디자인하기 */
header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
    color: var(--color-main);
    font-weight: 700;
    text-decoration: underline;
}
@media screen and (min-width:1025px){
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after {
        content: "";
        position: absolute;
        right: -10px;
        top: -5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #fff;
    }
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a,
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        color: var(--color-main);
    }
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after,
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after {
        background-color: var(--color-main);
    }
}/*@media*/
@media screen and (max-width:1024px){
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before,
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after {
        background-color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after {
        transform: rotate(0);
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 {
        display: block;
    }
}/*@media*/



/* 끝:: 서브에서 이미 선택되있는 메뉴 디자인하기 */


footer {
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
    padding: 66px 0 51px 0;
}
footer .wrapper {
    display: flex; /* f_logo - inner 좌우배치 */
    gap: 0 55px;
    position: relative; /* f_util 정렬의 기준 */
}
footer .f_logo {
    width: 109px;
    height: 36px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain; 
}
footer .f_util {
    position: absolute;
    right: 0;
    top: 0;
    display: flex; /* family_site - top 좌우 배치 */
    gap: 0 16px;
}
footer .f_util .family_site {
    width: 190px;
    /* 관련사이트는 여는 버튼, 열린 메뉴등의 넓이가 같음.
       그래서 감싸고 있는 family_site에 넓이를 주고 내부 요소는 witdh 100% 부여 */
    position: relative; /* family_wrap 정렬의 기준 */
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 2.5294em;
    text-align: left;
    padding-left: 1.1765em;
    border: 1px solid #fff;
    position: relative; /* after 정렬의 기준 */
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 1.1765em;
    top: 1em;
    width: 0.8076em;
    height: 0.4706em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.37101 1.82747L1.44186 6.75663C1.2742 6.92428 1.07581 7.00532 0.846674 6.99973C0.617541 6.99414 0.419145 6.90752 0.251487 6.73986C0.0838291 6.5722 0 6.37381 0 6.14467C0 5.91554 0.0838291 5.71714 0.251487 5.54949L5.41536 0.402379C5.54949 0.268253 5.70038 0.167658 5.86804 0.100595C6.0357 0.0335315 6.20335 2.85459e-07 6.37101 2.7813e-07C6.53867 2.70802e-07 6.70633 0.0335315 6.87399 0.100595C7.04164 0.167658 7.19254 0.268253 7.32666 0.402379L12.4905 5.56625C12.6582 5.73391 12.7392 5.92951 12.7336 6.15306C12.7281 6.3766 12.6414 6.5722 12.4738 6.73986C12.3061 6.90752 12.1077 6.99135 11.8786 6.99135C11.6495 6.99135 11.4511 6.90752 11.2834 6.73986L6.37101 1.82747Z'/%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    position: absolute;
    left: 0;
    bottom:  2.5294em;
    width: 100%;
    background-color: #3d3d3d;
    padding: 1.4118em 1.1765em 1.1765em 1.1765em;
}
footer .f_util .family_site .family_wrap ul li a {
    display: block;
    padding: 0.1765em 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬의 기준*/
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute;
    right: -0.8824em;
    top: 0.4118em;
    width: 0.6176em;
    height: 0.6176em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 11' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.83002 2.83897L1.39861 10.2704C1.24553 10.4235 1.0507 10.5 0.814115 10.5C0.577535 10.5 0.382704 10.4235 0.229622 10.2704C0.0765408 10.1173 0 9.92247 0 9.68589C0 9.4493 0.0765408 9.25447 0.229622 9.10139L7.66103 1.66998H1.31511C1.07853 1.66998 0.880219 1.58996 0.720179 1.42992C0.560139 1.26988 0.480119 1.07157 0.480119 0.83499C0.480119 0.59841 0.560139 0.400099 0.720179 0.24006C0.880219 0.0800199 1.07853 0 1.31511 0H9.66501C9.90159 0 10.0999 0.0800199 10.2599 0.24006C10.42 0.400099 10.5 0.59841 10.5 0.83499V9.18489C10.5 9.42147 10.42 9.61978 10.2599 9.77982C10.0999 9.93986 9.90159 10.0199 9.66501 10.0199C9.42843 10.0199 9.23012 9.93986 9.07008 9.77982C8.91004 9.61978 8.83002 9.42147 8.83002 9.18489V2.83897Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_close {
    display: none;
}

/* 시작:: 열렸을 때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site.open .family_close::after {
    animation: family_btn 0.5s 1 forwards;
}
@keyframes family_btn {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(180deg);}
}
/* 끝:: 열렸을 때 */
footer .f_util .top {
    height: 2.5294em;
    padding: 0 0.7059em 0 0.7059em;
    background-color: var(--color-main);
}
footer .inner {
    margin: 14px 0 0 0;
}
footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 3em;
}
footer .inner .f_info {
    margin: 22px 0 12px 0;
}
@media screen and (max-width:1280px) {
    footer .inner .f_nav ul {
        gap: 0 1.5em;
    }
}/* @media */
@media screen and (max-width:1024px) {
    footer {
        padding: 41px 0 41px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_logo {
        width: 87px;
        height: 29px;
    }
    footer .f_util {
        position: relative;
        right: auto;
        top: auto;
        margin: 32px 0 52px 0;
    }
    footer .f_util .family_site {
        width: calc(100% - 73px);
        max-width: 500px;
        /* 관련사이트는 여는 버튼, 열린 메뉴등의 넓이가 같음.
           그래서 감싸고 있는 family_site에 넓이를 주고 내부 요소는 witdh 100% 부여 */
        position: relative; /* family_wrap 정렬의 기준 */
    }
    footer .inner {
        margin: 14px 0 0 0;
    }
    footer .inner .f_nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0 3em;
    }
    footer .inner .f_info {
        margin: 22px 0 12px 0;
    }
}