/***********************
* 파일명 : main.css 
* 작성자 : 이수형
* 작성일 : 25-10-23
* 설  명 : index파일 (메인페이지)에서만 호출하는 css
          메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer 제외)
          default.css (태그의 초기화 - 브라우저가 주는 기본 스타일 삭제)
          common.css (wrapper, blind 처럼 모든 페이지에서 반복되는 기본 스타일 
          - 변수도 여기서 선언, 변수가 너무 많으면 variable이라는 파일을 분리도 함)
          layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
*********************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬의 기준 */
}
.visual .popup .slide {
    height: 100dvh;
    position: relative; /* photo 정렬의 기준 */
    /* txt를 slide의 하단에 배치 - 넓이가 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup .slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 2s;
}
.visual .popup .slide.slick-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .popup .slide .txt {
    color: #fff;
    margin-bottom: 247px;
}
.visual .popup .slide .txt h2 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 16px 0;
}
@media screen and (min-width:769px){ /* pc버전에서만 동작 */
    .visual .popup .slide .txt .line {
        display: block;
        overflow: hidden;
    }
    .visual .popup .slide .txt .line span {
        transform: translateY(100%);
        display: block;
        transition: transform 0.5s;
        transition-delay: 0.3s;
    }
    .visual .popup .slide.slick-active .txt .line span {/* 현재 보이는 팝업에는 */
        transform: translateY(0);
    }
}/*media*/

.visual .scroll {
    position: absolute;
    right: 0;
    bottom: 140px;
    color: #fff;
    font-size: 1.5rem;
    transform: rotate(90deg);
}
.visual .scroll::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 9px;
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 11' fill='#ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.79578 8.80994L11.5387 5.45084C11.7617 5.29191 12.0404 5.20884 12.3748 5.20162C12.7093 5.19439 12.9981 5.27747 13.2413 5.45084C13.4643 5.60976 13.5758 5.81203 13.5758 6.05764C13.5758 6.30326 13.4643 6.50552 13.2413 6.66445L7.64708 10.652C7.52547 10.7387 7.39372 10.8001 7.25184 10.8362C7.10995 10.8723 6.95794 10.8904 6.79578 10.8904C6.63363 10.8904 6.48162 10.8723 6.33973 10.8362C6.19785 10.8001 6.0661 10.7387 5.94449 10.652L0.350248 6.66445C0.127289 6.50552 0.0107426 6.30687 0.000608069 6.06848C-0.00952642 5.83009 0.10702 5.62421 0.350248 5.45084C0.573207 5.29191 0.856973 5.21245 1.20155 5.21245C1.54612 5.21245 1.82988 5.29191 2.05284 5.45084L6.79578 8.80994ZM6.79578 3.60875L11.5387 0.249657C11.7617 0.0907317 12.0404 0.0076573 12.3748 0.000433432C12.7093 -0.00679043 12.9981 0.076284 13.2413 0.249657C13.4643 0.408582 13.5758 0.61085 13.5758 0.856461C13.5758 1.10207 13.4643 1.30434 13.2413 1.46327L7.64708 5.45084C7.52547 5.53753 7.39372 5.59893 7.25184 5.63505C7.10995 5.67117 6.95794 5.68923 6.79578 5.68923C6.63363 5.68923 6.48162 5.67117 6.33973 5.63505C6.19785 5.59893 6.0661 5.53753 5.94449 5.45084L0.350248 1.46327C0.127289 1.30434 0.0107426 1.10568 0.000608069 0.867297C-0.00952642 0.62891 0.10702 0.42303 0.350248 0.249657C0.573207 0.0907317 0.856973 0.0112692 1.20155 0.0112692C1.54612 0.0112692 1.82988 0.0907317 2.05284 0.249657L6.79578 3.60875Z'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; */
    transform: rotate(45deg);
    animation: scroll 3s linear infinite;
}
@keyframes scroll {
    0% { right: -15px; }
    50% { right: -30px; }
    100% { right: -15px; }
}

@media screen and (max-width:1024px){
    .visual .popup .slide .txt h2 {
        font-size: 4.4rem;
    }
}

@media screen and (max-width:768px){
            .visual .popup .slide {
                height: 600px;
            }
            .visual .popup .slide .txt {
                margin-bottom: 56px;
            }
            .visual .popup .slide .txt h2 {
                font-size: 3.2rem;
                margin: 0 0 24px 0;
            }
            .visual .popup .slide .txt h2,
            .visual .popup .slide .txt p {
                transform: translateY(50%);
                opacity: 0;
                transition: transform 1s, opacity 1s;
                transition-delay: 0.3s;
            }
            .visual .popup .slide.slick-active .txt h2,
            .visual .popup .slide.slick-active .txt p {
                transform: translateY(0);
                opacity: 1;
            }
            .visual .popup .slide .txt h2 .line {
                display: block; /* 줄바꿈 */
            }
            .visual .scroll {
                display: none;
            }
}/*@media*/

/* section의 제목 스타일 */
section .tit strong {
    color: var(--color-main);
    font-weight: 700;
    padding-right: 0.5882em;
    display: inline-block;
    position: relative; /* after 정렬의 기준*/
}
section .tit strong::after {
    content: "";
    position: absolute; /* strong을 기준으로 정렬 */
    right: 0;
    top: -0.0588em;
    width: 0.6471em;
    height: 0.6471em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 11' fill='%23E00036' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.37062C0 4.52267 0.0221183 4.68024 0.0829529 4.82952C0.351178 5.49299 1.03419 5.90214 1.90246 5.55658C2.10985 5.47364 7.85319 3.15978 7.85319 3.15978C7.85319 3.15978 5.59125 8.89329 5.50553 9.10615C5.17647 9.9272 5.57189 10.6708 6.24384 10.9196C6.39316 10.9749 6.54801 11.0026 6.7001 10.9998C7.25038 10.997 7.73429 10.6736 7.97209 10.0267C8.00804 9.92996 10.8369 2.16458 10.8977 1.97936C10.9336 1.86878 11 1.60892 11 1.42923C11 1.04497 10.859 0.682823 10.5852 0.409141C10.317 0.138223 9.95752 0 9.57868 0C9.39341 0 9.24409 0.0331736 9.01735 0.10505C8.88185 0.149281 1.59 2.86122 0.967823 3.09344C0.345651 3.32565 -1.51891e-06 3.82326 0.00276369 4.37062' /%3E%3C/svg%3E%0A");
}
section .tit h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-basic);
    line-height: 1.3;
}
@media screen and (max-width:1024px) {
    section .tit h2 {
        font-size: 3.2rem;
    }
}
@media screen and (max-width:768px) {
    section .tit h2 {
        font-size: 2.4rem;
    }
}



.biz {
    margin: 154px 0 0 0;
}
.biz .list {
    margin: 61px 0 0 0;
}
.biz .list ul {
    display: flex;
    gap: 0 3px;
}
.biz .list ul li {
    overflow: hidden;
    width: 25%;
    height: 640px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/biz01.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 1.7% 80px 1.7%;
    position: relative; /* before 정렬의 기준 */
    transition: width 0.5s;
}
.biz .list ul li.biz02 {
    background-image: url(../images/main/biz02.jpg);
}

.biz .list ul li.biz03 {
    background-image: url(../images/main/biz03.jpg);
}

.biz .list ul li.biz04 {
    background-image: url(../images/main/biz04.jpg);
}
.biz .list ul li::before {
    content: "";
    position: absolute; /* li를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.biz .list ul li .txt {
    position: relative;
    z-index: 1; /* before 보다 위에 배치하기 위해*/
}
.biz .list ul li .txt h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    margin: 8px 0 0 0;
    white-space: nowrap;
}

@media screen and (min-width:1025px){ /* 1025px 이상 - pc 버전일 때 */
    .biz .list ul li.active {
        width: 55.93%;
    }
    .biz .list ul li .txt {
        transform: translateY(111px);
        transition: transform 0.5s;
    }
    .biz .list ul li.active .txt {
        transform: translateY(0);
    }
    .biz .list ul li .txt h3 {
        transition: font-size 0.5s;
    }
    .biz .list ul li .txt p {
        margin: 8px 0 24px 0;
        opacity: 0;
        white-space: nowrap;
    }
    .biz .list ul li .txt a {
        opacity: 0;
        border: solid 1px #fff;
        border-radius: 30px;
        padding: 3px 64px 4px 18px;
        /* display: inline-block; */
        display: inline-block;
        position: relative; /* after 정렬의 기준 */
    }
    .biz .list ul li .txt a::after {
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        width: 11px;
        height: 11px;
        right: 18px;
        top: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.02941 5.66379H0.6595C0.472642 5.66379 0.31601 5.60058 0.189606 5.47418C0.0632021 5.34778 0 5.19114 0 5.00429C0 4.81743 0.0632021 4.6608 0.189606 4.53439C0.31601 4.40799 0.472642 4.34479 0.6595 4.34479H8.02941L4.79786 1.11324C4.66596 0.981336 4.60276 0.827453 4.60826 0.651586C4.61375 0.475719 4.68245 0.321836 4.81435 0.189936C4.94625 0.0690277 5.10013 0.00582558 5.276 0.00032975C5.45187 -0.00516608 5.60575 0.058036 5.73765 0.189936L10.0904 4.54264C10.1563 4.60859 10.203 4.68003 10.2305 4.75697C10.258 4.83392 10.2717 4.91635 10.2717 5.00429C10.2717 5.09222 10.258 5.17466 10.2305 5.2516C10.203 5.32854 10.1563 5.39999 10.0904 5.46594L5.73765 9.81864C5.61674 9.93955 5.46561 10 5.28424 10C5.10288 10 4.94625 9.93955 4.81435 9.81864C4.68245 9.68674 4.6165 9.53011 4.6165 9.34874C4.6165 9.16738 4.68245 9.01075 4.81435 8.87885L8.02941 5.66379Z' /%3E%3C/svg%3E%0A");
    }
    .biz .list ul li.active .txt h3 {
        font-size: 40px;
    }
    .biz .list ul li.active .txt p {
        opacity: 1;
    }
    .biz .list ul li.active .txt a {
        opacity: 1;
    }
    .biz .list ul li.active .txt a:hover{
        background-color: var(--color-main);
        border: 1px solid var(--color-main);
    }

    .biz .list.hover ul li:not(.active) {
        /* li중에서 active가 없는 li 전부 다 */
        color: rgba(255, 255, 255, 0.6);
    }
    .biz .list.hover ul li:not(.active)::before {
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        /* background-image를 취소하고 background-color를 주기 위해서 background로 부여 */
    }
}/* @media */
@media screen and (min-width:1025px) and (max-width:1280px) {
    /* 1280~1025 사이일때만 적용 */
    .biz .list ul li .txt h3 {
        font-size: 3.2em;
    }
}
@media screen and (max-width:1024px) {
    .biz .list {
        overflow-x: auto; /* 가로 스크롤 허용 */
    }
    .biz .list ul {
        gap: 0 8px;
        width: 1024px;
        margin: 0 var(--wapper-margin) 0 var(--wapper-margin);
        /* 
            li의 넓이 (250px) * 4 = 1000px 
            li 사이의 여백 (8px) * 3 = 24px 
            1000 + 24 = 1024px 
        */
    }
    .biz .list ul li {
        width: 250px;
        height: 335px;
        padding: 0 20px 40px 20px;
        border-radius: 10px;
    }
    .biz .list ul li::before {
        border-radius: 0 0 10px 10px;
    }
    .biz .list ul li .txt h3 {
        font-size: 2.2rem;
        margin: 7px 0 0 0;
        white-space: wrap; /* 줄바꿈 허용 */
    }
    .biz .list ul li .txt p {
        display: none;
    }
    .biz .list ul li .txt a {
        position: absolute; /* txt를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .biz .list ul li .txt a span {
        display: none;
    }

}
@media screen and (max-width:768px) {
    .biz {
        margin: 105px 0 0 0;
    }
}

.news {
    margin: 154px 0 0 0;
}
.news .list {
    margin: 52px 0 0 0;
    overflow: hidden;
}
.news .list .swiper-slide {
    width: 326px;
}
.news .list .swiper-slide a {
    display: block;
    border-top: 1px solid #ccc;
    position: relative; /* before 정렬의 기준 */
}
.news .list .swiper-slide a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: -1px;
    width: 0;
    height: 1px;
    background-color: var(--color-main);
    transition: 0.5s;
}
.news .list .swiper-slide a:hover::before {
    width: 100%;
}
.news .list .swiper-slide a .date {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-basic);
    margin: 36px 0 23px 0;
    display: block;
}
.news .list .swiper-slide a h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-basic);

    /* 2줄 제한 */
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
}
.news .list .swiper-slide a p {
    margin: 23px 0 13px 0;

    /* 3줄 제한 */
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;

    word-break: break-all; /* 단어별 줄바꿈 해제 */

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 150px;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .ctrl_wrap {
    margin: 36px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news .ctrl_wrap .scrollbar {
    width: calc(100% - 152px);
    height: 5px;
    background-color: #ededed;
    border-radius: 5px;
}
.news .ctrl_wrap .scrollbar .swiper-scrollbar-drag {
    height: 5px;
    background-color: var(--color-main);
    top: -1px;
}
.news .ctrl_wrap .more a {
    display: block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #1d1d1d;
    border-radius: 30px;
    padding: 0 64px 0 18px;
    position: relative; /* after 정렬의 기준 */
}
.news .ctrl_wrap .more a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 20px;
    top: 11px;
    width: 10px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 9' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22647 5.09741H0.59355C0.425378 5.09741 0.284409 5.04053 0.170646 4.92676C0.0568819 4.813 0 4.67203 0 4.50386C0 4.33568 0.0568819 4.19472 0.170646 4.08095C0.284409 3.96719 0.425378 3.91031 0.59355 3.91031H7.22647L4.31808 1.00191C4.19937 0.883202 4.14249 0.744707 4.14743 0.586427C4.15238 0.428147 4.21421 0.289652 4.33292 0.170942C4.45163 0.0621249 4.59012 0.00524303 4.7484 0.000296775C4.90668 -0.00464948 5.04518 0.0522324 5.16389 0.170942L9.08132 4.08837C9.14067 4.14773 9.18271 4.21203 9.20745 4.28128C9.23218 4.35052 9.24454 4.42472 9.24454 4.50386C9.24454 4.583 9.23218 4.65719 9.20745 4.72644C9.18271 4.79569 9.14067 4.85999 9.08132 4.91934L5.16389 8.83677C5.05507 8.94559 4.91905 9 4.75582 9C4.59259 9 4.45163 8.94559 4.33292 8.83677C4.21421 8.71806 4.15485 8.5771 4.15485 8.41387C4.15485 8.25064 4.21421 8.10967 4.33292 7.99096L7.22647 5.09741Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) { 
    .news .list .swiper-slide a .date {
        font-size: 2.8rem;
    }
    .news .list .swiper-slide a h3 {
        font-size: 2.2rem;
    }
}/* @media */
@media screen and (max-width:768px) {   
    .news {
        margin: 105px 0 0 0;
    }
    .news .list {
        margin: 36px 0 0 0;
    }
    .news .list .swiper-slide a .date {
        font-size: 2.4rem;
        margin: 25px 0 9px 0;
    }
    .news .list .swiper-slide a h3 {
        font-size: 2rem;
    }
    .news .list .swiper-slide a p {
        margin: 15px 0 8px 0;
    }
    .news .list .swiper-slide a .photo {
        height: 113px;
    }
    .news .ctrl_wrap {
        margin: 23px 0 0 0;
    }
    .news .ctrl_wrap .scrollbar {
        width: calc(100% - 98px);
    }
    .news .ctrl_wrap .more a {
        height: 24px;
        line-height: 24px;
        padding: 0 34px 0 15px;
    }
    .news .ctrl_wrap .more a::after {
        right: 15px;
        top: 8px;
        width: 9px;
        height: 7px;
    }
}/* @media */

@media screen and (min-width:1025px) {

    .service {
        margin: 153px 0 0 0;
    }
    .service .tit {
        display: none;
    }
    .service .list {
        background: url(../images/main/service01.jpg) no-repeat center center / cover;
        color: #fff;
        transition: 0.5s;
    }
    /* 속성 선택자
    <div class="list" data-bg="service01"> 이 요소를 선택 */
    .service .list[data-bg="service01"] {
        background-image: url(../images/main/service02.jpg);
    }
    .service .list[data-bg="service02"] {
        background-image: url(../images/main/service03.jpg);
    }
    .service .list[data-bg="service03"] {
        background-image: url(../images/main/service04.jpg);
    }
    .service .list ul {
        display: flex;
    }
    .service .list ul li {
        width: 33.33%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative; /* after 정렬의 기준 */
    }
    .service .list ul li::after {
        content: "";
        position: absolute;
        right: 0;
        top: 133px;
        width: 1px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .service .list ul li:last-child::after {
        display: none;
    }
    .service .list ul li a {
        display: block;
        transform: translateY(22px);
        transition: transform 0.5s;
    }
    .service .list ul li:hover a {
        transform: translateY(0);
    }
    .service .list ul li a strong {
        font-weight: 700;
    }
    .service .list ul li a h3 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 8px 0 11px 0;
    }
    .service .list ul li a .more {
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 3px 64px 4px 18px;
        position: relative; /* after 정렬의 기준 */
        display: inline-block;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .service .list ul li:hover a .more {
        opacity: 1;
    }
    .service .list ul li a .more::after {
        content: "";
        position: absolute; /* a를 기준으로 정렬 */
        width: 11px;
        height: 11px;
        right: 18px;
        top: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.02941 5.66379H0.6595C0.472642 5.66379 0.31601 5.60058 0.189606 5.47418C0.0632021 5.34778 0 5.19114 0 5.00429C0 4.81743 0.0632021 4.6608 0.189606 4.53439C0.31601 4.40799 0.472642 4.34479 0.6595 4.34479H8.02941L4.79786 1.11324C4.66596 0.981336 4.60276 0.827453 4.60826 0.651586C4.61375 0.475719 4.68245 0.321836 4.81435 0.189936C4.94625 0.0690277 5.10013 0.00582558 5.276 0.00032975C5.45187 -0.00516608 5.60575 0.058036 5.73765 0.189936L10.0904 4.54264C10.1563 4.60859 10.203 4.68003 10.2305 4.75697C10.258 4.83392 10.2717 4.91635 10.2717 5.00429C10.2717 5.09222 10.258 5.17466 10.2305 5.2516C10.203 5.32854 10.1563 5.39999 10.0904 5.46594L5.73765 9.81864C5.61674 9.93955 5.46561 10 5.28424 10C5.10288 10 4.94625 9.93955 4.81435 9.81864C4.68245 9.68674 4.6165 9.53011 4.6165 9.34874C4.6165 9.16738 4.68245 9.01075 4.81435 8.87885L8.02941 5.66379Z' /%3E%3C/svg%3E%0A");
    }
}/* @media */
@media screen and (min-width:1025px) and (max-width:1280px) {
    /* 1024 ~ 1280 사이일 경우 */
    .service .list ul li a h3 {
        font-size: 2.2rem;
    }
}/* @media */
@media screen and (max-width:1024px) {
    .service {
        margin: 92px 0 0 0;
    }
    .service .list {
        margin: 34px var(--wapper-margin) 0 var(--wapper-margin);
    }
    /* .service .list {
       background: url(../images/main/service_mo.jpg) no-repeat center center / cover;
       color: #1d1d1d;
       padding: 52px var(--wapper-margin) 52px var(--wapper-margin);
    } */

    .service .list ul li {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 0 8px 0;
    }
    .service .list ul li:last-child {
        margin-bottom: 0;
    }
    .service .list ul li a {
        display: block;
        padding: 18px 16px 16px 16px;
        position: relative; /* after 정렬의 기준 */
    }
    .service .list ul li a::after {
        content: "";
        position: absolute;
        right: 16px;
        top: 18px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 8px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.0875 4.294H0.5C0.358333 4.294 0.239583 4.24608 0.14375 4.15025C0.0479167 4.05442 0 3.93567 0 3.794C0 3.65233 0.0479167 3.53358 0.14375 3.43775C0.239583 3.34192 0.358333 3.294 0.5 3.294H6.0875L3.6375 0.844C3.5375 0.744 3.48958 0.627333 3.49375 0.494C3.49792 0.360667 3.55 0.244 3.65 0.144C3.75 0.0523333 3.86667 0.00441667 4 0.00025C4.13333 -0.00391667 4.25 0.044 4.35 0.144L7.65 3.444C7.7 3.494 7.73542 3.54817 7.75625 3.6065C7.77708 3.66483 7.7875 3.72733 7.7875 3.794C7.7875 3.86067 7.77708 3.92317 7.75625 3.9815C7.73542 4.03983 7.7 4.094 7.65 4.144L4.35 7.444C4.25833 7.53567 4.14375 7.5815 4.00625 7.5815C3.86875 7.5815 3.75 7.53567 3.65 7.444C3.55 7.344 3.5 7.22525 3.5 7.08775C3.5 6.95025 3.55 6.8315 3.65 6.7315L6.0875 4.294Z'/%3E%3C/svg%3E%0A");
    }
    .service .list ul li a h3,
    .service .list ul li a .more {
        display: none;
    }
    .service .list ul li a strong {
        font-weight: 700;
    }
}/* @media */

@media screen and (max-width:768px) {
    .service .list ul li a strong {
        font-size: 1.6rem;
    }
}/* @media */
