@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.notice {
    margin: 171px 0 0 0;
}
.notice .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.notice .tit strong {
    color: #004EA2;
}
.notice .tit h2 {
    color: #1d1d1d;
    margin: 13px 0 46px 0;
}
.notice .list ul {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
}
.notice .list ul li {
    width: calc(33.33% + 16px );
    max-width: 404px;
}
.notice .list ul li a {
    display: block;
}
.notice .list ul li a .photo {
    height: 250px;
    overflow: hidden;
}
.notice .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.notice .list ul li a h3 {
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 14px 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list ul li a p {
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list .more {
    position: absolute;
    right: 18px;
    top: 77px;
    color: #004EA2;
}
.notice .list .more a {
    display: block;
}
.notice .list .more a::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    right: -15px;
    top: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 5.125H0.75C0.572917 5.125 0.424479 5.0651 0.304688 4.94531C0.184896 4.82552 0.125 4.67708 0.125 4.5C0.125 4.32292 0.184896 4.17448 0.304688 4.05469C0.424479 3.9349 0.572917 3.875 0.75 3.875H3.875V0.75C3.875 0.572917 3.9349 0.424479 4.05469 0.304688C4.17448 0.184896 4.32292 0.125 4.5 0.125C4.67708 0.125 4.82552 0.184896 4.94531 0.304688C5.0651 0.424479 5.125 0.572917 5.125 0.75V3.875H8.25C8.42708 3.875 8.57552 3.9349 8.69531 4.05469C8.8151 4.17448 8.875 4.32292 8.875 4.5C8.875 4.67708 8.8151 4.82552 8.69531 4.94531C8.57552 5.0651 8.42708 5.125 8.25 5.125H5.125V8.25C5.125 8.42708 5.0651 8.57552 4.94531 8.69531C4.82552 8.8151 4.67708 8.875 4.5 8.875C4.32292 8.875 4.17448 8.8151 4.05469 8.69531C3.9349 8.57552 3.875 8.42708 3.875 8.25V5.125Z' fill='%23004EA2'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:768px){
    .notice {
        margin: 97px 0 0 0;
    }
    .notice .tit h2 {
        font-size: 24px;
        color: #1d1d1d;
        margin: 8px 0 46px 0;
    }
    .notice .list ul {
        display: block;
    }
    .notice .list ul li {
        width: auto;
        border-top: 1px solid #ededed;
    }
    .notice .list ul li:last-child {
        border-bottom: 1px solid #ededed;
    }
    .notice .list ul li a {
        display: block;
        padding: 17px 0 17px 0;
    }
    .notice .list ul li a .photo {
        display: none;
    }
    .notice .list ul li a h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .notice .list ul li a p {
        display: none;
    }
    .notice .list .more {
        position: absolute;
        right: auto;
        left: calc(50% - 45px);
        top: auto;
        bottom: -47px;
        color: #004EA2;
    }
    .notice .list .more a {
        border: 1px solid #004EA2;
        border-radius: 18.5px;
        padding: 4px 38px 5px 22px;
        margin: 47px 0 0 0;
    }
    .notice .list .more a::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 9px;
        right: 18px;
        top: 58px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 5.125H0.75C0.572917 5.125 0.424479 5.0651 0.304688 4.94531C0.184896 4.82552 0.125 4.67708 0.125 4.5C0.125 4.32292 0.184896 4.17448 0.304688 4.05469C0.424479 3.9349 0.572917 3.875 0.75 3.875H3.875V0.75C3.875 0.572917 3.9349 0.424479 4.05469 0.304688C4.17448 0.184896 4.32292 0.125 4.5 0.125C4.67708 0.125 4.82552 0.184896 4.94531 0.304688C5.0651 0.424479 5.125 0.572917 5.125 0.75V3.875H8.25C8.42708 3.875 8.57552 3.9349 8.69531 4.05469C8.8151 4.17448 8.875 4.32292 8.875 4.5C8.875 4.67708 8.8151 4.82552 8.69531 4.94531C8.57552 5.0651 8.42708 5.125 8.25 5.125H5.125V8.25C5.125 8.42708 5.0651 8.57552 4.94531 8.69531C4.82552 8.8151 4.67708 8.875 4.5 8.875C4.32292 8.875 4.17448 8.8151 4.05469 8.69531C3.9349 8.57552 3.875 8.42708 3.875 8.25V5.125Z' fill='%23004EA2'/%3E%3C/svg%3E%0A");
    }
}

.service {
    margin: 96px 0 0 0;
    background: url(../images/service_bg.jpg) no-repeat center center;
    padding: 145px 0 142px 0;
}
.service .wrapper {
    display: flex;
    justify-content: space-between;
}
.service .tit {
    width: calc(50% - 70px);
    color: #fff;
}
.service .list {
    width: calc(50% + 70px);
}
.service .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.service .list ul li {
    width: 160px;
}
.service .list ul li a {
    display: block;
    height: 150px;
    position: relative; /* after 정렬의 기준 */
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 86px 0 0 0;
}
.service .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 57px;
    top: 40px;
    height: 45px;
    width: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_119' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_119)'%3E%3Cpath d='M22.464 36.31C20.952 35.1946 19.327 34.3328 17.589 33.7246C15.851 33.1165 14.0505 32.8124 12.1875 32.8124C11.0433 32.8124 9.91953 32.9392 8.81618 33.1928C7.71281 33.4464 6.64911 33.8196 5.62508 34.3124C4.95683 34.62 4.32101 34.5744 3.71764 34.1753C3.11429 33.7763 2.81262 33.2114 2.81262 32.4806V12.1587C2.81262 11.7548 2.91959 11.3816 3.13353 11.0391C3.34747 10.6965 3.64434 10.4471 4.02415 10.2908C5.29337 9.67306 6.61608 9.20973 7.99226 8.90086C9.36845 8.59195 10.7669 8.4375 12.1875 8.4375C14.0121 8.4375 15.7885 8.69592 17.5168 9.21277C19.2452 9.72961 20.9063 10.4568 22.5 11.3943V32.9278C24.0817 31.9278 25.7506 31.1898 27.5067 30.7139C29.2627 30.2379 31.0313 30 32.8125 30C33.8894 30 34.9069 30.0757 35.8648 30.2271C36.8227 30.3785 37.8125 30.6177 38.8341 30.9447C38.9664 30.9807 39.0896 30.9837 39.2037 30.9537C39.3179 30.9236 39.375 30.8244 39.375 30.6562V9.5986C39.6995 9.69475 40.0162 9.80172 40.3251 9.9195C40.634 10.0373 40.9351 10.1851 41.2283 10.363C41.548 10.5192 41.7878 10.7476 41.9477 11.0481C42.1075 11.3486 42.1875 11.6707 42.1875 12.0144V32.4445C42.1875 33.1753 41.8768 33.7372 41.2554 34.1303C40.634 34.5233 39.9711 34.572 39.2668 34.2763C38.2548 33.7955 37.2061 33.4313 36.1208 33.1838C35.0355 32.9362 33.9327 32.8124 32.8125 32.8124C30.9375 32.8124 29.119 33.1075 27.357 33.6976C25.595 34.2877 23.964 35.1585 22.464 36.31ZM26.25 28.125V11.25L35.625 1.875V19.6875L26.25 28.125ZM19.6876 31.5685V13.0961C18.5121 12.5144 17.2946 12.0613 16.0349 11.7368C14.7753 11.4122 13.4928 11.25 12.1875 11.25C11.0313 11.25 9.93332 11.3563 8.89367 11.5691C7.85401 11.7818 6.87865 12.0769 5.96759 12.4543C5.87143 12.4903 5.79031 12.5414 5.72422 12.6075C5.65809 12.6736 5.62503 12.7548 5.62503 12.8509V30.7211C5.62503 30.8894 5.68212 30.9885 5.79631 31.0186C5.9105 31.0486 6.0337 31.0396 6.16592 30.9915C7.09139 30.6574 8.04511 30.4086 9.02707 30.2452C10.009 30.0817 11.0625 30 12.1875 30C13.589 30 14.9279 30.1448 16.2044 30.4344C17.4809 30.7241 18.6419 31.1021 19.6876 31.5685Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico2::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_122' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_122)'%3E%3Cpath d='M22.5 40.3124C20.0576 40.3124 17.753 39.8443 15.5859 38.9079C13.4189 37.9717 11.5288 36.697 9.91584 35.0841C8.30288 33.4711 7.02825 31.581 6.09197 29.414C5.15566 27.2469 4.6875 24.9423 4.6875 22.5C4.6875 20.0384 5.15566 17.7289 6.09197 15.5715C7.02825 13.4141 8.30288 11.5288 9.91584 9.91585C11.5288 8.30288 13.4189 7.02825 15.5859 6.09197C17.753 5.15566 20.0576 4.6875 22.5 4.6875C24.9615 4.6875 27.271 5.15566 29.4284 6.09197C31.5858 7.02825 33.4711 8.30288 35.0841 9.91585C36.697 11.5288 37.9717 13.4141 38.9079 15.5715C39.8443 17.7289 40.3124 20.0384 40.3124 22.5C40.3124 24.9423 39.8443 27.2469 38.9079 29.414C37.9717 31.581 36.697 33.4711 35.0841 35.0841C33.4711 36.697 31.5858 37.9717 29.4284 38.9079C27.271 39.8443 24.9615 40.3124 22.5 40.3124ZM22.5 37.4603C23.4567 36.1911 24.262 34.911 24.9158 33.6201C25.5697 32.3292 26.1021 30.9182 26.5132 29.3869H18.4867C18.9218 30.9663 19.4603 32.4014 20.1021 33.6923C20.7439 34.9831 21.5432 36.2391 22.5 37.4603ZM18.869 36.9447C18.1503 35.9134 17.5048 34.7409 16.9327 33.4272C16.3606 32.1135 15.9159 30.7667 15.5985 29.3869H9.23789C10.2283 31.3341 11.5564 32.9699 13.2223 34.2945C14.8882 35.619 16.7705 36.5024 18.869 36.9447ZM26.1309 36.9447C28.2295 36.5024 30.1117 35.619 31.7776 34.2945C33.4435 32.9699 34.7716 31.3341 35.762 29.3869H29.4014C29.024 30.7788 28.5492 32.1316 27.9771 33.4453C27.4049 34.759 26.7896 35.9255 26.1309 36.9447ZM8.05884 26.5745H15.0288C14.911 25.8774 14.8257 25.1941 14.7728 24.5246C14.72 23.8551 14.6935 23.1802 14.6935 22.5C14.6935 21.8197 14.72 21.1448 14.7728 20.4753C14.8257 19.8058 14.911 19.1225 15.0288 18.4254H8.05884C7.87856 19.0624 7.74034 19.7247 7.64419 20.4122C7.54803 21.0997 7.49995 21.7956 7.49995 22.5C7.49995 23.2043 7.54803 23.9002 7.64419 24.5877C7.74034 25.2752 7.87856 25.9375 8.05884 26.5745ZM17.8413 26.5745H27.1586C27.2764 25.8774 27.3618 25.2001 27.4147 24.5426C27.4675 23.8852 27.494 23.2043 27.494 22.5C27.494 21.7956 27.4675 21.1147 27.4147 20.4573C27.3618 19.7998 27.2764 19.1225 27.1586 18.4254H17.8413C17.7235 19.1225 17.6382 19.7998 17.5853 20.4573C17.5324 21.1147 17.5059 21.7956 17.5059 22.5C17.5059 23.2043 17.5324 23.8852 17.5853 24.5426C17.6382 25.2001 17.7235 25.8774 17.8413 26.5745ZM29.9711 26.5745H36.9411C37.1213 25.9375 37.2596 25.2752 37.3557 24.5877C37.4519 23.9002 37.5 23.2043 37.5 22.5C37.5 21.7956 37.4519 21.0997 37.3557 20.4122C37.2596 19.7247 37.1213 19.0624 36.9411 18.4254H29.9711C30.0889 19.1225 30.1742 19.8058 30.2271 20.4753C30.2799 21.1448 30.3064 21.8197 30.3064 22.5C30.3064 23.1802 30.2799 23.8551 30.2271 24.5246C30.1742 25.1941 30.0889 25.8774 29.9711 26.5745ZM29.4014 15.613H35.762C34.7596 13.6418 33.4405 12.006 31.8046 10.7055C30.1688 9.40498 28.2776 8.51556 26.1309 8.03719C26.8496 9.12853 27.4891 10.322 28.0492 11.6177C28.6093 12.9134 29.06 14.2452 29.4014 15.613ZM18.4867 15.613H26.5132C26.0781 14.0457 25.5306 12.6015 24.8708 11.2806C24.2109 9.9597 23.4206 8.71271 22.5 7.53961C21.5793 8.71271 20.789 9.9597 20.1292 11.2806C19.4693 12.6015 18.9218 14.0457 18.4867 15.613ZM9.23789 15.613H15.5985C15.9399 14.2452 16.3906 12.9134 16.9508 11.6177C17.5108 10.322 18.1503 9.12853 18.869 8.03719C16.7104 8.51556 14.8161 9.408 13.1863 10.7145C11.5565 12.021 10.2403 13.6538 9.23789 15.613Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico3::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_125' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_125)'%3E%3Cpath d='M30 15.5771V9.9521H15V15.5771H12.1876V7.13965H32.8125V15.5771H30ZM33.3894 23.077C33.9207 23.077 34.366 22.8973 34.7254 22.5379C35.0847 22.1786 35.2644 21.7333 35.2644 21.202C35.2644 20.6708 35.0847 20.2254 34.7254 19.8661C34.366 19.5067 33.9207 19.327 33.3894 19.327C32.8582 19.327 32.4129 19.5067 32.0535 19.8661C31.6941 20.2254 31.5144 20.6708 31.5144 21.202C31.5144 21.7333 31.6941 22.1786 32.0535 22.5379C32.4129 22.8973 32.8582 23.077 33.3894 23.077ZM30 35.6251V27.6203H15V35.6251H30ZM32.8125 38.4376H12.1876V30.9376H5.22852V20.2645C5.22852 18.9364 5.68223 17.8231 6.58967 16.9247C7.49711 16.0263 8.60586 15.5771 9.91592 15.5771H35.0841C36.4122 15.5771 37.5255 16.0263 38.4239 16.9247C39.3223 17.8231 39.7715 18.9364 39.7715 20.2645V30.9376H32.8125V38.4376ZM36.9591 28.1251V20.2645C36.9591 19.7333 36.7795 19.2879 36.4201 18.9286C36.0607 18.5692 35.6154 18.3895 35.0841 18.3895H9.91592C9.38467 18.3895 8.93936 18.5692 8.57998 18.9286C8.22061 19.2879 8.04092 19.7333 8.04092 20.2645V28.1251H12.1876V24.8078H32.8125V28.1251H36.9591Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico4::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_128' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_128)'%3E%3Cpath d='M4.43518 38.5815V5.76904H22.2476V13.269H40.5649V38.5815H4.43518ZM7.24759 35.769H11.9351V31.0815H7.24759V35.769ZM7.24759 28.269H11.9351V23.5815H7.24759V28.269ZM7.24759 20.769H11.9351V16.0815H7.24759V20.769ZM7.24759 13.269H11.9351V8.58149H7.24759V13.269ZM14.7476 35.769H19.4351V31.0815H14.7476V35.769ZM14.7476 28.269H19.4351V23.5815H14.7476V28.269ZM14.7476 20.769H19.4351V16.0815H14.7476V20.769ZM14.7476 13.269H19.4351V8.58149H14.7476V13.269ZM22.2476 35.769H37.7524V16.0815H22.2476V20.769H26.3582V23.5815H22.2476V28.269H26.3582V31.0815H22.2476V35.769ZM30.4688 23.5815V20.769H33.2812V23.5815H30.4688ZM30.4688 31.0815V28.269H33.2812V31.0815H30.4688Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico5::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_131' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_131)'%3E%3Cpath d='M12.1876 40.3124V32.7548C10.4063 31.1298 9.0235 29.2674 8.03912 27.1676C7.05475 25.0678 6.56256 22.8826 6.56256 20.6119C6.56256 16.1885 8.11205 12.4286 11.211 9.33216C14.31 6.23572 18.073 4.6875 22.5 4.6875C26.1418 4.6875 29.3984 5.77585 32.2698 7.95253C35.1412 10.1292 37.006 12.9531 37.8641 16.4243L40.0549 25.0766C40.1953 25.6112 40.0961 26.0967 39.7571 26.5329C39.4182 26.9693 38.9663 27.1874 38.4014 27.1874H34.6875V33.173C34.6875 34.1051 34.3556 34.903 33.6918 35.5667C33.028 36.2305 32.2301 36.5624 31.298 36.5624H27.1875V40.3124H24.375V33.75H31.298C31.4663 33.75 31.6045 33.6959 31.7127 33.5877C31.8209 33.4795 31.875 33.3413 31.875 33.173V24.375H36.9375L35.1563 17.1093C34.4375 14.2535 32.9002 11.938 30.5445 10.1628C28.1887 8.38758 25.5072 7.49995 22.5 7.49995C18.875 7.49995 15.7813 8.76733 13.2188 11.3021C10.6563 13.8368 9.37501 16.9192 9.37501 20.5493C9.37501 22.4212 9.75783 24.1995 10.5235 25.8842C11.2891 27.5689 12.375 29.0664 13.7813 30.3768L15 31.5V40.3124H12.1876ZM21.0397 27.7283H23.9603L24.1695 25.6911C24.5397 25.5973 24.8864 25.4609 25.2097 25.2818C25.5331 25.1027 25.8089 24.8809 26.0373 24.6165L27.869 25.4639L29.3293 22.9795L27.7067 21.7716C27.8413 21.3894 27.9086 21.0072 27.9086 20.625C27.9086 20.2427 27.8413 19.8605 27.7067 19.4783L29.3293 18.2704L27.869 15.7861L26.0373 16.6334C25.8089 16.369 25.5331 16.1472 25.2097 15.9681C24.8864 15.789 24.5397 15.6526 24.1695 15.5588L23.9603 13.5216H21.0397L20.8306 15.5588C20.4604 15.6526 20.1136 15.789 19.7903 15.9681C19.467 16.1472 19.1911 16.369 18.9627 16.6334L17.131 15.7861L15.6707 18.2704L17.2933 19.4783C17.1587 19.8605 17.0914 20.2427 17.0914 20.625C17.0914 21.0072 17.1587 21.3894 17.2933 21.7716L15.6707 22.9795L17.131 25.4639L18.9627 24.6165C19.1911 24.8809 19.467 25.1027 19.7903 25.2818C20.1136 25.4609 20.4604 25.5973 20.8306 25.6911L21.0397 27.7283ZM22.4989 23.78C21.6222 23.78 20.8774 23.4732 20.2644 22.8595C19.6514 22.2458 19.345 21.5006 19.345 20.6239C19.345 19.7472 19.6518 19.0023 20.2655 18.3893C20.8792 17.7764 21.6244 17.4699 22.5011 17.4699C23.3778 17.4699 24.1226 17.7767 24.7356 18.3904C25.3486 19.0041 25.6551 19.7493 25.6551 20.626C25.6551 21.5027 25.3482 22.2476 24.7345 22.8606C24.1209 23.4735 23.3757 23.78 22.4989 23.78Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico6::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_134' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_134)'%3E%3Cpath d='M24.2344 20.719L16.9327 13.4173L18.9375 11.4595L24.2344 16.7563L34.875 6.1626L36.8329 8.12047L24.2344 20.719ZM25.9254 40.8535L12.2235 36.9448V39.5193H2.84863V21.5628H16.2764L27.7572 25.8032C28.6081 26.1181 29.3148 26.6752 29.8773 27.4744C30.4398 28.2737 30.7211 29.2118 30.7211 30.2887H35.4086C36.7548 30.2887 37.8545 30.7448 38.7079 31.6571C39.5612 32.5693 39.9879 33.7718 39.9879 35.2646V36.4545L25.9254 40.8535ZM5.66104 36.7069H9.41104V24.3752H5.66104V36.7069ZM25.8317 37.8896L37.024 34.4209C36.9663 34.005 36.7854 33.6811 36.4814 33.4491C36.1773 33.2171 35.8197 33.1011 35.4086 33.1011H26.5168C25.6082 33.1011 24.7512 33.0416 23.9459 32.9226C23.1406 32.8036 22.3389 32.6059 21.5409 32.3295L18.1081 31.1684L18.9879 28.4714L22.6298 29.6901C23.2283 29.9017 23.9146 30.0543 24.6887 30.1481C25.4627 30.2418 26.536 30.2887 27.9086 30.2887C27.9086 29.8248 27.8041 29.4245 27.5949 29.088C27.3858 28.7514 27.1106 28.5243 26.7692 28.4065L15.8004 24.3752H12.2235V34.0386L25.8317 37.8896Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico7::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_137' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_137)'%3E%3Cpath d='M7.03137 38.4374V35.625H10.7814V6.5625H27.6562V8.4375H34.2187V35.625H37.9687V38.4374H31.4062V11.25H27.6562V38.4374H7.03137ZM21.0938 24.1586C21.553 24.1586 21.9442 23.9969 22.2675 23.6736C22.5908 23.3503 22.7524 22.9591 22.7524 22.5C22.7524 22.0408 22.5908 21.6496 22.2675 21.3263C21.9442 21.003 21.553 20.8413 21.0938 20.8413C20.6347 20.8413 20.2435 21.003 19.9202 21.3263C19.5968 21.6496 19.4352 22.0408 19.4352 22.5C19.4352 22.9591 19.5968 23.3503 19.9202 23.6736C20.2435 23.9969 20.6347 24.1586 21.0938 24.1586ZM13.5938 35.625H24.8438V9.37495H13.5938V35.625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a.ico8::after {
    background-image: url("data:image/svg+xml,%3Csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2101_140' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='45' height='45'%3E%3Crect width='45' height='45' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2101_140)'%3E%3Cpath d='M4.6875 38.4374V35.625H40.3124V38.4374H4.6875ZM6.5625 33.0287V21.5625H11.25V33.0287H6.5625ZM15.613 33.0287V12.1875H20.3004V33.0287H15.613ZM24.6815 33.0287V17.8125H29.3689V33.0287H24.6815ZM33.75 33.0287V6.5625H38.4374V33.0287H33.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    .service {
    margin: 77px 0 0 0;
    padding: 102px 0 102px 0;
    }
    .service .wrapper {
        display: block;
    }
    .service .tit {
        width: auto;
    }
    .service .tit h2 {
        font-size: 24px;
    }
    .service .list {
        margin: 44px 0 0 0;
        width: auto;
    }
    .service .list ul {
        gap: 16px 16px;
    }
    .service .list ul li {
        width: calc(50% - 8px);
    }
    .service .list ul li a {
        height: 145px;
    }
}