@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    font-size: 23px;
    font-weight: 700;
    color: #1E2124;
    padding: 0 40px 0 40px;
    letter-spacing: -0.02em;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;
    text-align: end;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 247px 0 10px 0;
}
.visual p {
    font-size: 24px;
}

.biz {
    margin: 135px 0 0 0;
}
.biz .art, .biz .sch {
    margin: 103px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
}
.biz .txt {
    width: 540px;
    margin: 37px 0 0 0;
}
.biz .txt strong {
    color: #8E0A10;
    display: block;
}
.biz .txt h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 11px 0 18px 0;
}
.biz .txt h2 em {
    color: #8E0A10;
}
.biz .txt .sub_tit {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 0 0 11px 0;
}
.biz .txt .btn_wrap {
    margin: 35px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px 18px;
}
.biz .txt .btn_wrap a {
    display: block;
    border: 1px solid #8E0A10;
    color: #8E0A10;
    padding: 6px 26px 6px 26px;
    border-radius: 20px;
}
.biz .txt .btn_wrap a:hover {
    background-color: #8E0A10;
    color: #fff;
}
.biz .photo {
    overflow: hidden;
    width: 618px;
    height: 487px;
    border-radius: 20px;
}
.biz .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community {
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    margin: 145px 0 0 0;
}