@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 100px;
    font-size: 23px;
    font-weight: 700;
    color: #1E2124;
    padding: 0 40px 0 40px;
    letter-spacing: -0.02em;
}
header .gnb ul li a:hover {
    color: #8E0A10;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;
    text-align: end;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 247px 0 10px 0;
}
.visual p {
    font-size: 24px;
}

.biz {
    margin: 135px 0 0 0;
}
.biz .art, .biz .sch {
    margin: 103px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
}
.biz .txt {
    width: 540px;
    margin: 37px 0 0 0;
}
.biz .txt strong {
    color: #8E0A10;
    display: block;
}
.biz .txt h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 11px 0 18px 0;
}
.biz .txt h2 em {
    color: #8E0A10;
}
.biz .txt .sub_tit {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 0 0 11px 0;
}
.biz .txt .btn_wrap {
    margin: 35px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 18px 18px;
}
.biz .txt .btn_wrap a {
    display: block;
    border: 1px solid #8E0A10;
    color: #8E0A10;
    padding: 6px 26px 6px 26px;
    border-radius: 20px;
}
.biz .txt .btn_wrap a:hover {
    background-color: #8E0A10;
    color: #fff;
}
.biz .photo {
    overflow: hidden;
    width: 618px;
    height: 487px;
    border-radius: 20px;
}
.biz .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community {
    background: url(../images/community_bg.jpg) no-repeat center top / auto 850px;
    margin: 145px 0 0 0;
    /* height: 910px; - 콘텐츠가 배경보다 길기에 배경의 높이만큼 주면 안됨
       ∴ bg의 높이니까 bg에 높이를 줄 것. */
    color: #fff;
}
.community .news {
    padding: 100px 0 0 0;
}
.community .news .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .news .tit strong {
    display: block;
    margin: 38px 0 0 0;
}
.community .news .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin: 11px 0 17px 0;
}
.community .news .tit p {
    font-size: 24px;
}
.community .news .tit a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 26px 6px 26px;
    border-radius: 20px;
    margin: 35px 0 0 0;    
}
.community .news .tit a:hover {
    background-color: #fff;
    color: #8E0A10;
}
.community .news .list {
    width: 726px;
}
.community .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.community .news .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 35px 0;
}
.community .news .list ul li a h3 {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    /* 한 줄 제한 :: 조건 : 넓이가 제한 되어 있어야 함. */
    width: 535px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.community .news .list ul li a span {
    color: rgba(255, 255, 255, 0.7);
}
.community .media {
    margin: 110px 0 0 0;
}
.community .media .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community .media .tit .tit_strong h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin: 11px 0 0 0;
}
.community .media .tit a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 26px 6px 26px;
    border-radius: 20px;
}
.community .media .list {
    margin: 29px 0 0 0;
}
.community .media .list ul {
    display: flex;
    justify-content: space-between;
}
.community .media .list ul li {
    width: 404px;
}
.community .media .list ul li a {
    display: block;
}
.community .media .list ul li a .photo {
    overflow: hidden;
    height: 228px;
    border-radius: 10px;
    border: 2px solid #8E0A10;
}
.community .media .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.community .media .list ul li a h3 {
    font-size: 20px;
    color: #1E2124;
    line-height: 1.3;
    letter-spacing: -0.02em;
    margin: 21px 0 0 0;
    /* 두 줄 제한 :: 조건 : 넓이가 있어야 함. */
    line-height: 1.3;
    height: 2.6em; /* 행간 x 줄 수 = 단위는 em */
    overflow: hidden;
    /* 호환성이 낮은 일부 브라우저에서만 되는 속성 - css 오류검사에서 경고 처리 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

footer {
    background-color: #272727;
    margin: 94px 0 0 0;
    padding: 48px 0 41px 0;
    color: rgba(255, 255, 255, 0.8);
}