/* 모든페이지에서 중복되는 스타일 */
:root {
    --font-size-basic : 17px;
    --font-size-visual : 60px;
    --font-size-tit : clamp(24px, 3vw, 40px);
    --font-size-tit2 : clamp(20px, 2vw, 24px);
    --font-weight-basic : 400;
    --font-weight-bold : 700;
    --line-height-basic : 1.5;
    --line-height-tit : 1.3;
    --color-main : #152346;
    --color-sub-01 : #FFB301;
    --color-sub-02 : #1B609B; 
    --color-sub-03 : #ededed;
    --color-white80 : rgba(255, 255, 255, 0.8);
    --color-white60 : rgba(255, 255, 255, 0.6);
    --color-white40 : rgba(255, 255, 255, 0.4);
    --color-white20 : rgba(255, 255, 255, 0.2);
    --color-black80 : rgba(0, 0, 0, 0.8);
    --color-black60 : rgba(0, 0, 0, 0.6);
    --color-black40 : rgba(0, 0, 0, 0.4);
    --color-black30 : rgba(0, 0, 0, 0.3);
    --color-black20 : rgba(0, 0, 0, 0.2);
    --color-black10 : rgba(0, 0, 0, 0.1);
    --header-h : 90px;
    --header-var : clamp(56px, 9vw, 90px);
    --wrapper-m : 3%;
}
@media screen and (max-width:768px){
    :root {
        --font-size-basic : 16px; 
        --font-size-visual : 28px;
        --header-h : 56px;
        --wrapper-m : 16px;
    }
}/*@media*/


body {
    font-family: "School", sans-serif;
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-basic);
    color: #1d1d1d;
    word-break: keep-all;
    word-wrap: break-word; /* 단어가 너무 길 때 강제 줄바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    position: relative; /* header 정렬의 기준 */
    /* overflow: hidden; */
}
/* html 문서 구조상 글자를 써야하지만 
   글자를 가리고 싶을 때 blind 클래스 부여 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
    좌우여백 50px : 1260 + 50 + 50 = 1360
    좌우여백 30px : 1260 + 30 + 30 = 1320
    좌우여백 5% : 1260 + (1260*0.05 = 63 ) + (1260*0.05 = 63 ) = 1386 
    좌우여백 3% : 1260 + (1260*0.03 = 37.8 ) + (1260*0.03 = 37.8 ) = 1335.6
*/
@media screen and (max-width:1335.6px){
    .wrapper {
        width: auto;
        margin: 0 var(--wrapper-m);
    }
}/*@media*/
