@font-face {
    font-family: 'School';
    src: url('../fonts/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'School';
    src: url('../fonts/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}