@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: var(--font-size-visual);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 16dvh 0;
    transition: 0.4s;
    transition-delay: 0.3s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 13%;
    z-index: 10;
    display: flex;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 6px;
    color: #fff;
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 70px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    content: "";
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: block;
    width: 24px;
    height: 24px;
}
.visual .ctrl_btn .play {
    display: none;
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 14px;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 11px;
}

@media screen and (max-width:1335.6px){
    .visual .ctrl_btn {
        left: 3%
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
    height: 400px; /* 브라우저 높이와 동일 */
    }
    .visual .swiper-slide p {
        font-size: var(--font-size-visual);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-tit);
        margin: 0 0 76px 0;
        transform: translate(0, 30px);
    }
    .visual .ctrl_btn {
        left: 16px;
        bottom: 45px;
    }
    
    .visual .ctrl_btn .paging .bar {
        width: 48px;
        height: 2px;
    }
    .visual .ctrl_btn .stop,
    .visual .ctrl_btn .play {
        display: block;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .visual .ctrl_btn .play {
        display: none;
    }
    .visual .ctrl_btn .stop i {
        display: block;
        width: 14px;
    }
    .visual .ctrl_btn .play i {
        display: block;
        width: 11px;
    }
}

footer {
    margin: 300px 0 0 0;
}