@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* fixed :: 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    fill: #fff; /* svg 아이콘 색상 */
    display: flex; /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m); /* 위아래 - 좌우 */
}
header .logo a {
    display: block;
    width: 205.75px;
    height: 36.01px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}
header .util .mypage i {
    display: block;
    width: 20px;
}
/***** 시작 :: pc 버전 *****/
/* 1024이하는 메뉴를 접음 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap .gnb_logo {
        display: none;
    }
    header .gnb .gnb_wrap .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬의 기준 */
    }   
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: var(--font-size-tit2);
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap; /* 행간이 높아서 2줄이 되면 이상함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none;
        position: absolute;
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 20px);
        background-color: #fff;
        color: #1d1d1d;
        border: 1px solid #1B609B;
        border-radius: 15px;
        min-width: 100%; /* li 넓이의 100% */
        padding: 20px 25px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        position: relative; /* before 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 1px;
        background-color: var(--color-sub-02);
        transition: 0.3s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::before {
        width: 100%;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--color-sub-02);
    }

    /* 메뉴에 오버했을 때 */
    header.menu_pc {
        background-color: #fff;
        color: #1d1d1d;
        fill: #1d1d1d;
        box-shadow: 0 4px 4px 0 var(--color-black10);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }

    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-sub-02);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block;
    }

}/* @media */
/* 1025이상 - 1280이하 그 사이값에서 적용 */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 185.75px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 22px;
    }
}
/***** 끝 :: pc 버전 *****/


/***** 시작 :: mobile 버전 *****/
@media screen and (max-width:1024px) {
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 113.87px;
        height: 20px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-h);
        height: var(--header-h);
    }
    header .gnb .gnb_open i {
        display: block;
        width: 18px;
    }
    header .gnb .gnb_wrap {
        display: none;
    }
}



.visual{
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: var(--font-size-visual);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 16dvh 0;
    transition: 0.4s;
    transition-delay: 0.3s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 13%;
    z-index: 10;
    display: flex;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 6px;
    color: #fff;
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 70px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    content: "";
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.visual .ctrl_btn button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 2px 0 0 0;
}
.visual .ctrl_btn .play {
    display: none;
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 14px;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 11px;
}

@media screen and (max-width:1335.6px){
    .visual .ctrl_btn {
        left: 3%
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
    height: 400px; /* 브라우저 높이와 동일 */
    }
    .visual .swiper-slide p {
        font-size: var(--font-size-visual);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-tit);
        margin: 0 0 76px 0;
        transform: translate(0, 30px);
    }
    .visual .ctrl_btn {
        left: 16px;
        bottom: 45px;
    }
    
    .visual .ctrl_btn .paging .bar {
        width: 48px;
        height: 2px;
    }
    .visual .ctrl_btn .stop,
    .visual .ctrl_btn .play {
        display: block;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .visual .ctrl_btn .play {
        display: none;
    }
    .visual .ctrl_btn .stop i {
        display: block;
        width: 14px;
        margin: 2px 0 0 0;
    }
    .visual .ctrl_btn .play i {
        display: block;
        width: 11px;
    }
}

footer {
    margin: 3000px 0 0 0;
}