/* 모든페이지에서 중복되는 스타일 */
body {
    font-family: "pretendard", "NanumG","Malgun Gothic", "맑은 고딕", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
    /* 프리텐다드를 적용하는데 만약 안되면 다음 서체 적용
       sans-serif >>> 고딕체 아무거나
       serif >>> 명조체 아무거나 */
       font-size: 17px;
       font-weight: 400;
       line-height: 1.5;
       color: #555;
       word-break: keep-all;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1320px;
}