@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 100px;
    display: block;
    padding: 0 39px 0 39px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    color: #fff;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 321px 0 8px 0;
}
.visual p {
    font-size: 24px;
}

.biz {
    margin: 167px 0 0 0;
    text-align: center;
}
.biz .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 8px 0;
}
.biz .list{
    margin: 38px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li .txt {
    margin: 0 20px 0 20px;
}
.biz .list ul li a .txt h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 18px 0 8px 0;
}
.biz .list ul li .more {
    border: 1px solid #ccc;
    margin: 18px 0 0 0;
    display: block;
    padding: 25px 112px 25px 112px;
}

.brand {
    background: url(../images/brand_bg.jpg) no-repeat center center / cover;
    height: 800px;
    color: #fff;
    margin: 178px 0 0 0;
}
.brand strong {
    color: #FFEECA;
    display: block;
    padding: 296px 0 0 0;

}
.brand h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 8px 0 8px 0;
}
.brand a {
    border: 1px solid #ccc;
    margin: 30px 0 0 0;
    display: inline-block;
    padding: 12px 40px 12px 40px;
    border-radius: 46px;
}

footer {
    background-color: #ededed;
    padding: 94px 0 104px 0;
}
footer .f_nav ul {
    display: flex;
    gap: 0 54px;
}
footer .f_nav ul li strong {
    font-weight: 700;
}
footer .f_info {
    margin: 8px 0 8px 0;
    display: flex;
    gap: 0 21px;
}